<div class="page-header" style="background: url(assets/img/bg/bg-hukers.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumb-wrapper">
					<h2 class="product-title">Clients</h2>
					<ol class="breadcrumb">
						<li><a href="/"><i class="ti-home"></i> Home</a></li>
						<li><a href="/">Clients</a></li>
						<li class="current">Detail</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;padding-top: 5px;margin-top: 5px;">
	<div class="container" style="background: white;">
		<div class="row">
			<div class="col-md-12 my-cv">
				<ul class="nav nav-tabs cd-switcher">
					<li class="active"><a data-toggle="tab" href="#detail_clients">Profil</a></li>
					<li><a data-toggle="tab" href="#review_clients">Reviews</a></li>
					<li class="pull-right"><a href="javascript:;" class="bg-green" onclick="page_creview()"><i class="ti-pencil"></i> Write Reviews</a></li>
				</ul>
			</div>
		</div>
		<div class="tab-content">
			<div id="menu-1" class="tab-pane fade in active">
				<div class="row cd-1">
					<div class="col-md-3 center">
						<h1>4.5</h1>
						<div class="ratingku"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating3.png"></div>
						<span style="font-style:italic;">24 ratings in total</span>
					</div>
					<div class="col-md-3 center">
						<div class="ratingku">5 <img src="assets/img/talents/Rating1.png"><i class="progress-bar progress-bar-green" style="width: 20%;"></i>2</div>
						<div class="ratingku">4 <img src="assets/img/talents/Rating1.png">9</div>
						<div class="ratingku">3 <img src="assets/img/talents/Rating1.png">4</div>
						<div class="ratingku">2 <img src="assets/img/talents/Rating1.png">6</div>
						<div class="ratingku">1 <img src="assets/img/talents/Rating1.png">3</div>
						<span style="font-style:italic;">9 of people rated company 4 ratings</span>
					</div>
					<div class="col-md-3 center">
						<span style="font-style: italic;">Clients/customers are satisfied with the service</span>
					</div>
					<div class="col-md-3 center">
						<span style="font-style: italic;">75% people recommend this company to other</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 cd-2">
						<ul class="social-clients">
							<li><a href="#"><i class="fa fa-facebook"></i></a>Danmogot.com</li>
							<li><a href="#"><i class="fa fa-instagram"></i></a>Danmogot.com</li>
							<li><a href="#"><i class="fa fa-globe"></i></a>Danmogot.com</li>
							<li><a href="#"><i class="fa fa-whatsapp"></i></a>0822 99 777 633</li>
						</ul>
					</div>
					<div class="col-md-6 cd-3">
						<p style="font-size: 16px">About </br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="col-md-2 cd-4">
						<img src="assets/img/clients/telkomsel.png" width="250" height="250">
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 cd-5">
						<div id="map" style="width:100%;height: 300px;"></div>
					</div>
					<div class="col-md-6 cd-6">
						<p style="font-size: 16px">Vision </br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<br></br>
						<p style="font-size: 16px">Mission </br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
			<div id="review_clients" class="tab-pane fade">
				<div class="row" style="padding-left: 5%;margin-top: 25px;">
			      <div class="col-md-3">
			        <form class="form-inline">
			          <div class="form-group">
			            <label class="control-label" for="sortby">Sort by</label>&nbsp;&nbsp;&nbsp;
			            <select style="border-radius: 5px;padding: 2px">
			              <option>Most Recently</option>
			              <option>Most lately</option>
			            </select>
			          </div>          
			        </form>
			       
			         <span style="float: left;margin-right: 20px"><h5>24 Reviews</h5></span>
			          <div class="ratingku">
			              <img src="assets/img/talents/Rating1.png">
			              <img src="assets/img/talents/Rating1.png">
			              <img src="assets/img/talents/Rating1.png">
			              <img src="assets/img/talents/Rating1.png">
			              <img src="assets/img/talents/Rating3.png"> 
			          </div>
			        
			        <span class="text-muted">Showing 24 reviews sorted by most recent</span>
			      </div>
			      <div class="col-md-6">
			      </div>
			      <div class="col-md-3" style="padding-top: 30px">
			        <input class="form-control" type="text" name="search" placeholder="search Reviews" style="border-radius: 5px">            
			      </div>
			    </div>
			    <hr>
			    <br>
			    <div class="row" style="padding-left: 5%;margin-bottom: 2%;padding-top:2%;padding-bottom:20px;border-bottom:1px solid #aaa">
			      <div class="col-md-2">
			        <table>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			                <div class="ratingku">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating3.png"> 
			                </div>              
			            </td>
			          </tr>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			              <div class="hukes-rounded-border">
			                <img align="center" src="assets/img/clients/danmogot.png" style="width: 40px;margin-top: 17px;margin-left: 5px">
			              </div>              
			            </td>
			          </tr>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			              <span>Danmogot.com</span>              
			            </td>
			          </tr>
			        </table>
			      </div>
			      <div class="col-md-10">
			        <h3 style="color:green">Pernah bekerja di perusahaan kami selama 2 tahun</h3>
			        <p>
			          Pernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahun.
			        </p>
			        <div class="text-muted" style="float: left; padding-top:30px">
			          20 Jul 2018
			        </div>
			        <div style="float: right; padding-top:30px">
			          <div class="btn-group">
			            <button class="btn btn-default" style="border:1px solid #aaa;border-radius: 5px 0px 0px 5px">
			              <i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> Helpful</button>
			            <button class="btn btn-default" style="border: 1px solid #aaa;border-radius: 0px 5px 5px 0px">5</button>
			          </div>
			        </div>
			      </div>
			    </div>
			    <div class="row" style="padding-left: 5%;margin-bottom: 2%;padding-top:2%;padding-bottom:20px;border-bottom:1px solid #aaa">
			      <div class="col-md-2">
			        <table>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			                <div class="ratingku">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating3.png"> 
			                </div>              
			            </td>
			          </tr>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			              <div class="hukes-rounded-border">
			                <img align="center" src="assets/img/clients/danmogot.png" style="width: 40px;margin-top: 17px;margin-left: 5px">
			              </div>              
			            </td>
			          </tr>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			              <span>Danmogot.com</span>              
			            </td>
			          </tr>
			        </table>
			      </div>
			      <div class="col-md-10">
			        <h3 style="color:green">Pernah bekerja di perusahaan kami selama 2 tahun</h3>
			        <p>
			          Pernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahun.
			        </p>
			        <div class="text-muted" style="float: left; padding-top:30px">
			          20 Jul 2018
			        </div>
			        <div style="float: right; padding-top:30px">
			          <div class="btn-group">
			           <button class="btn btn-default" style="border:1px solid #aaa;border-radius: 5px 0px 0px 5px">
			              <i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> Helpful</button>
			            <button class="btn btn-default" style="border: 1px solid #aaa;border-radius: 0px 5px 5px 0px">5</button>
			          </div>
			        </div>
			      </div>
			    </div>
			    <div class="row" style="padding-left: 5%;margin-bottom: 2%;padding-top:2%;padding-bottom:20px;border-bottom:1px solid #aaa">
			      <div class="col-md-2">
			        <table>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			                <div class="ratingku">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating1.png">
			                  <img src="assets/img/talents/Rating3.png"> 
			                </div>              
			            </td>
			          </tr>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			              <div class="hukes-rounded-border">
			                <img align="center" src="assets/img/clients/danmogot.png" style="width: 40px;margin-top: 17px;margin-left: 5px">
			              </div>              
			            </td>
			          </tr>
			          <tr>
			            <td style="padding: 5px;text-align: center">
			              <span>Danmogot.com</span>              
			            </td>
			          </tr>
			        </table>
			      </div>
			      <div class="col-md-10">
			        <h3 style="color:green">Pernah bekerja di perusahaan kami selama 2 tahun</h3>
			        <p>
			          Pernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahun.
			        </p>
			        <div class="text-muted" style="float: left; padding-top:30px">
			          20 Jul 2018
			        </div>
			        <div style="float: right; padding-top:30px">
			          <div class="btn-group">
			            <button class="btn btn-default" style="border:1px solid #aaa;border-radius: 5px 0px 0px 5px">
			              <i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> Helpful</button>
			            <button class="btn btn-default" style="border: 1px solid #aaa;border-radius: 0px 5px 5px 0px">5</button>
			          </div>
			        </div>
			      </div>
			    </div>

			    <div align="center" class="row">
			      <div class="col-md-12">
			        <button class="btn btn-warning">Load More</button>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3ZIpgvo0OxUKeyu5_2umPUWXJt3U7JOo&sensor=false" type="text/javascript" allowfullscreen></script>
<script type="text/javascript">
	$(window).load(function() {
        $(".loader").delay(500).fadeOut("slow");
      });
  $('#navbar li a').removeClass('active');
  $('#tblclient').addClass('active');
  function page_creview() {
        $.ajax({
            url: "clients-review.html",
            dataType: "html",
            cache: false,
            beforeSend: function(data){
              $(".loader").fadeIn();
            },
            success: function(data){
              $(".loader").fadeOut("slow")
              $('#page-content').load('clients-review.html');
            }
        });
      };

    var myOptions = {
      zoom: 7,
        scaleControl: true,
      center:  new google.maps.LatLng(-6.2103572705384975,106.85128400000008),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

 
    var map = new google.maps.Map(document.getElementById("map"),
        myOptions);

 var marker1 = new google.maps.Marker({
 position : new google.maps.LatLng(-6.2103572705384975,106.85128400000008),
 title : 'lokasi',
 map : map,
 draggable : true
 });
 
 google.maps.event.addListener(marker1, 'drag', function() {
  updateMarkerPosition(marker1.getPosition());
 });
</script>