<div class="page-header" style="background: url(assets/img/bg/bg-hukers.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Clients</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="current">Clients</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4 center text-clients1">
              <span>Provider</span>
            </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/telkomsel.png">
            </div>
            <br>
            <div class="card-title">
              <h5>PT. Telekomunikasi Indonesia</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4 center text-clients2">
              <span>Goods</span>
            </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/unilever.png">
            </div>
            <br>
            <div class="card-title">
              <h5>PT. Unilever Indonesia</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
          <div class=" col-md-5 center text-clients1">
            <span>Food Industry</span>
          </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/indofood.png" style="margin-top: 50px">
            </div>
            <br>
            <div class="card-title">
              <h5>Indonesia Sukses Makmur Tbk</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
          <div class="col-md-4 center text-clients2">
            <span>Marketing</span>
          </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/danmogot.png" style="margin-top: 50px">
            </div>
            <br>
            <div class="card-title">
              <h5>PT. Raksasa Indonesia</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4 center text-clients1">
              <span>Provider</span>
            </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/axis.png" style="margin-top: 30px">
            </div>
            <br>
            <div class="card-title">
              <h5>Axis Telekom Indonesia</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
            <div class="col-md-7 center text-clients2">
              <span>Pharmachy Distributor</span>
            </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/kimia-farma.png" style="margin-top: 30px">
            </div>
            <br>
            <div class="card-title">
              <h5>PT. Kimia Farma Indonesia Tbk</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
            <div class="col-md-7 center text-clients1">
              <span>Healthcare Intitution</span>
            </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="" style="margin-top: 50px">
            </div>
            <br>
            <div class="card-title">
              <h5>Medis Raksasa Indonesia</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4 center text-clients2">
              <span>Goods</span>
            </div>
          </div>
          <div class="card-content">
            <div class="center img-client">
              <img align="center" class="img-clients" src="assets/img/clients/pg.png" style="margin-top: 30px">
            </div>
            <br>
            <div class="card-title">
              <h5>Procter & Gamble co.</h5>
            </div>
            <div class="category text-muted">
              <span><i>Joint Us Since July 2013</i></span>
            </div>
            <br>
            <button class="btn btn-sm btn-theme" onclick="page_clients_detail()">Details</button>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div align="center" class="row">
      <div class="col-md-12">
        <button class="btn btn-warning">Load More</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function() {
        $(".loader").delay(500).fadeOut("slow");
      });
  $('#navbar li a').removeClass('active');
  $('#tblclient').addClass('active');
  function page_clients_detail() {
        $.ajax({
            url: "clients-detail.html",
            dataType: "html",
            cache: false,
            beforeSend: function(data){
              $(".loader").fadeIn();
            },
            success: function(data){
              $(".loader").fadeOut("slow")
              $('#page-content').load('clients-detail.html');
            }
        });
      };
</script>