<div class="page-header" style="background: url(assets/img/bg/bg-hukers.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumb-wrapper">
					<h2 class="product-title">Career</h2>
					<ol class="breadcrumb">
						<li><a href="/"><i class="ti-home"></i> Home</a></li>
						<li><a href="/">Career</a></li>
						<li class="current">My CV</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;">
	<div class="container" style="background: white;">
		<div class="row">
			<div class="col-md-12 my-cv">
				<ul class="nav nav-tabs cd-switcher">
					<li class="active"><a data-toggle="tab" href="#menu-1">My CV</a></li>
					<li><a data-toggle="tab" href="#menu-2">Details</a></li>
					<li class="pull-right"><a href="#" class="bg-green"><i class="ti-pencil"></i> Edit</a></li>
				</ul>
				<div class="tab-content">
					<div id="menu-1" class="tab-pane fade in active">
						<div class="col-lg-4 left-panel" style="background: #E3E7EA;">
							<div class="row cv-image">
								<div class="col-md-12 text-center">
									<img class="img img-circle align-middle	" id="hukes-img-lg" src="assets/img/Good.jpg">
									<h1>IRSYAD KAMIL</h1>
								</div>
							</div>
							<div class="row cv-position bg-green">
								<div class="col-md-12">
									Graphic Designer
								</div>
							</div>
							<div class="row cv-contact">
								<div class="col-md-12 p-l-0">
									<div class="cv-item-header pull-left">Contact</div>
								</div>
								<div class="col-md-12 p-l-0">
									<ul>
										<li><i class="contact-item fa fa-envelope-o"></i> mail@mail.com</li>
										<li><i class="contact-item fa fa-phone"></i> +6281 235 346 234</li>
										<li><i class="contact-item ti-home"></i> Jakarta, Indonesia</li>
										<li><i class="contact-item fa fa-globe"></i> www.www.com</li>
									</ul>
								</div>
							</div>
							<div class="row cv-hobby">
								<div class="col-md-12 p-l-0">
									<div class="cv-item-header pull-left">Hobbies</div>
								</div>
								<div class="col-md-6">
									<ul>
										<li><i class="hobby-item fa fa-plane"></i> Traveling</li>
										<li><i class="hobby-item fa fa-music"></i> Music</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul>
										<li><i class="hobby-item fa fa-book"></i> Reading</li>
										<li><i class="hobby-item fa fa-pencil"></i> Writing</li>
									</ul>
								</div>
							</div>
							<div class="row cv-social">
								<div class="col-md-12">
									<ul class="social-network social-circle">
										<li><a href="#"><i class="fa fa-facebook"></i></a>MyFacebook</li>
										<li><a href="#"><i class="fa fa-twitter"></i></a>MyTwitter</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-8 right-panel" style="background: white;">
							<div class="row cv-profile">
								<div class="col-md-12 p-r-0">
									<div class="panel">
										<div class="panel-heading">
											<div class="header-icon"><i class="fa fa-user"></i></div>
											<div class="header-text"><span>PROFILE</span></div>
										</div>
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</div>
								</div>
								<div class="col-md-12 p-r-0">
									<div class="panel">
										<div class="panel-heading">
											<div class="header-icon"><i class="fa fa-graduation-cap"></i></div>
											<div class="header-text"><span>EDUCATION</span></div>
										</div>
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</div>
								</div>
								<div class="col-md-12 p-r-0">
									<div class="panel">
										<div class="panel-heading">
											<div class="header-icon"><i class="fa fa-desktop"></i></div>
											<div class="header-text"><span>EXPERIENCE</span></div>
										</div>
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</div>
								</div>
								<div class="col-md-12 p-r-0">
									<div class="panel">
										<div class="panel-heading">
											<div class="header-icon"><i class="fa fa-gear"></i></div>
											<div class="header-text"><span>SKILL</span></div>
										</div>
										<div class="panel-body">
											<div class="row">
								                <div class="col-xs-6 col-md-3 text-center">
								                  <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc" data-readonly="true">
								             	</div>
								            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="menu-2" class="tab-pane fade">
						<h3>Content Here</h3>
						<p>Fill with something.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>