<div class="page-header no-padding" style="background: url(assets/img/bg/bg-hukers.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <img class="img img-circle" id="hukes-img-hd" src="assets/img/Good.jpg">          
        </div>
        <div class="col-md-10 head-review">
          <table style="color:#fff">
            <tr>
              <td style="padding: 5px">
                <h1>
                  Irsyad Kamir Sipahutar
                </h1>
              </td>
            </tr>
            <tr>
              <td style="padding: 5px;font-size: 15px">
                <i class="glyphicon glyphicon-phone" style="color:orange"></i>&nbsp;&nbsp;&nbsp;&nbsp;089171717171
              </td>
            </tr>
            <tr>
              <td style="padding: 5px;font-size: 15px">
                <i class="glyphicon glyphicon-envelope" style="color: orange"></i>&nbsp;&nbsp;&nbsp;&nbsp;arvvoo@yahou.com
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;">
  <div class="container" style="background-color:#fff ">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-default">MY CV</a>
          <a href="#" class="btn btn-default" onclick="details()">Details</a>
          <a href="#" class="btn btn-warning">Reviews</a>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-success" onclick="write_review()">Write Review</a>          
        </div>
      </div>
    </div>
    <br>
    <div class="row" style="padding-left: 5%">
      <div class="col-md-3">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label" for="sortby">Sort by</label>&nbsp;&nbsp;&nbsp;
            <select style="border-radius: 5px;padding: 2px">
              <option>Most Recently</option>
              <option>Most lately</option>
            </select>
          </div>          
        </form>
       
         <span style="float: left;margin-right: 20px"><h5>24 Reviews</h5></span>
          <div class="ratingku">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating3.png"> 
          </div>
        
        <span class="text-muted">Showing 24 reviews sorted by most recent</span>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3" style="padding-top: 30px">
        <input class="form-control" type="text" name="search" placeholder="search Reviews" style="border-radius: 5px">            
      </div>
    </div>
    <hr>
    <br>
    <div class="row" style="padding-left: 5%;margin-bottom: 2%;padding-top:2%;padding-bottom:20px;border-bottom:1px solid #aaa">
      <div class="col-md-2">
        <table>
          <tr>
            <td style="padding: 5px;text-align: center">
                <div class="ratingku">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating3.png"> 
                </div>              
            </td>
          </tr>
          <tr>
            <td style="padding: 5px;text-align: center">
              <div class="hukes-rounded-border">
                <img align="center" src="assets/img/clients/danmogot.png" style="width: 40px;margin-top: 17px;margin-left: 5px">
              </div>              
            </td>
          </tr>
          <tr>
            <td style="padding: 5px;text-align: center">
              <span>Danmogot.com</span>              
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-10">
        <h3 style="color:green">Pernah bekerja di perusahaan kami selama 2 tahun</h3>
        <p>
          Pernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahun.
        </p>
        <div class="text-muted" style="float: left; padding-top:30px">
          20 Jul 2018
        </div>
        <div style="float: right; padding-top:30px">
          <div class="btn-group">
            <button class="btn btn-default" style="border:1px solid #aaa;border-radius: 5px 0px 0px 5px">
              <i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> Helpful</button>
            <button class="btn btn-default" style="border: 1px solid #aaa;border-radius: 0px 5px 5px 0px">5</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 5%;margin-bottom: 2%;padding-top:2%;padding-bottom:20px;border-bottom:1px solid #aaa">
      <div class="col-md-2">
        <table>
          <tr>
            <td style="padding: 5px;text-align: center">
                <div class="ratingku">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating3.png"> 
                </div>              
            </td>
          </tr>
          <tr>
            <td style="padding: 5px;text-align: center">
              <div class="hukes-rounded-border">
                <img align="center" src="assets/img/clients/danmogot.png" style="width: 40px;margin-top: 17px;margin-left: 5px">
              </div>              
            </td>
          </tr>
          <tr>
            <td style="padding: 5px;text-align: center">
              <span>Danmogot.com</span>              
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-10">
        <h3 style="color:green">Pernah bekerja di perusahaan kami selama 2 tahun</h3>
        <p>
          Pernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahun.
        </p>
        <div class="text-muted" style="float: left; padding-top:30px">
          20 Jul 2018
        </div>
        <div style="float: right; padding-top:30px">
          <div class="btn-group">
           <button class="btn btn-default" style="border:1px solid #aaa;border-radius: 5px 0px 0px 5px">
              <i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> Helpful</button>
            <button class="btn btn-default" style="border: 1px solid #aaa;border-radius: 0px 5px 5px 0px">5</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 5%;margin-bottom: 2%;padding-top:2%;padding-bottom:20px;border-bottom:1px solid #aaa">
      <div class="col-md-2">
        <table>
          <tr>
            <td style="padding: 5px;text-align: center">
                <div class="ratingku">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating1.png">
                  <img src="assets/img/talents/Rating3.png"> 
                </div>              
            </td>
          </tr>
          <tr>
            <td style="padding: 5px;text-align: center">
              <div class="hukes-rounded-border">
                <img align="center" src="assets/img/clients/danmogot.png" style="width: 40px;margin-top: 17px;margin-left: 5px">
              </div>              
            </td>
          </tr>
          <tr>
            <td style="padding: 5px;text-align: center">
              <span>Danmogot.com</span>              
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-10">
        <h3 style="color:green">Pernah bekerja di perusahaan kami selama 2 tahun</h3>
        <p>
          Pernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahunPernah bekerja di perusahaan kami selama 2 tahun.
        </p>
        <div class="text-muted" style="float: left; padding-top:30px">
          20 Jul 2018
        </div>
        <div style="float: right; padding-top:30px">
          <div class="btn-group">
            <button class="btn btn-default" style="border:1px solid #aaa;border-radius: 5px 0px 0px 5px">
              <i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> Helpful</button>
            <button class="btn btn-default" style="border: 1px solid #aaa;border-radius: 0px 5px 5px 0px">5</button>
          </div>
        </div>
      </div>
    </div>

    <div align="center" class="row">
      <div class="col-md-12">
        <button class="btn btn-warning">Load More</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function() {
        $(".loader").delay(500).fadeOut("slow");
      });
  $('#navbar li a').removeClass('active');
  $('#tblhukers').addClass('active');
  function write_review() {
        $.ajax({
            url: "write_review.html",
            dataType: "html",
            cache: false,
            beforeSend: function(data){
              $(".loader").fadeIn();
            },
            success: function(data){
              $(".loader").fadeOut("slow")
              $('#page-content').load('write_review.html');
            }
        });
      }
  function details() {
        $.ajax({
            url: "display-detail.html",
            dataType: "html",
            cache: false,
            beforeSend: function(data){
              $(".loader").fadeIn();
            },
            success: function(data){
              $(".loader").fadeOut("slow")
              $('#page-content').load('display-detail.html');
            }
        });
      }
</script>