<div class="page-header no-padding" style="background: url(assets/img/bg/bg-hukers.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <div class="breadcrumb-wrapper">
          <h2 class="product-title">Hukers</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Hukers</li>
            <li class="current">Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;">
  <div class="container" style="background-color:#fff ">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-default">MY CV</a>
          <a href="#" class="btn btn-default">Details</a>
          <a href="#" class="btn btn-warning">Reviews</a>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-success" onclick="write_review()">Write Review</a>          
        </div>
      </div>
    </div>
    <br>
    <div class="row" style="padding-left: 5%">
      <div class="col-md-3">
        <div style="border-radius: 5px;border:1px solid #333">
          <span class="badge">&nbsp;</span>Recruitment
        </div>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3" style="padding-top: 30px">
        <input class="form-control" type="text" name="search" placeholder="search Reviews" style="border-radius: 5px">            
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-9" style="border: 1px solid #333">
        <div class="col-md-4">Review</div>
        <div class="col-md-4">Rating</div>
        <div class="col-md-4">Links</div>
        <table class="table">
          <thead>
            <tr>
              <th bgcolor="green" colspan="2">Salary report</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Previous Salary</td>
              <td>Rp. 4.000.000</td>
            </tr>
            <tr>
              <td>Current Salary</td>
              <td>Rp. 5.000.000</td>
            </tr>
            <tr>
              <td>Disired Salary Range</td>
              <td>Rp. 5.000.000 - 6.000.000</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th bgcolor="green" colspan="3">Doccument</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reference Latter.doc</td>
              <td>View</td>
              <td>Download</td>
            </tr>
            <tr>
              <td>Sertificate.pdf</td>
              <td>View</td>
              <td>Download</td>
            </tr>
            <tr>
              <td>CV.pdf</td>
              <td>View</td>
              <td>Download</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th bgcolor="green" colspan="2">Profile Fraud</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Corruption</td>
              <td>Accumulate the Company Sales benefit for himself</td>
            </tr>            
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th bgcolor="green">Links</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 offset-md-1" style="border: 1px solid #333">
        <h4>Latest News</h4>
      <ul class="timeline">
        <li>
          <h4>Just Now</h4>
          <h3>edit his CV page</h3>
          Profile image has been changed by Irsyad Kamil
        </li>
        <li>
          <h4>Just Now</h4>
          <h3>edit his CV page</h3>
          Android skills has been upgrade to 100% by Irsyad Kamil
        </li>
        <li>
          <h4>Yesterday</h4>
          <h3>edit his CV page</h3>
          Visual Basic has been added by Irsyad Kamil
        </li>
      </ul>
      </div>
      
    </div>

    <div align="center" class="row">
      <div class="col-md-12">
        <button class="btn btn-warning">Load More</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function() {
        $(".loader").delay(500).fadeOut("slow");
      });
  $('#navbar li a').removeClass('active');
  $('#tblhukers').addClass('active');
  function write_review() {
        $.ajax({
            url: "write_review.html",
            dataType: "html",
            cache: false,
            beforeSend: function(data){
              $(".loader").fadeIn();
            },
            success: function(data){
              $(".loader").fadeOut("slow")
              $('#page-content').load('write_review.html');
            }
        });
      }
</script>