<div class="page-header" style="background: url(assets/img/bg/bg-hukers.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">You can hire the right talent you need</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="current">Employer</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="my-account">
  <div class="container">
    <div class="row">
      <div class="col-md-12 cd-user-modal">
        <div class="my-account-form">
          <ul class="cd-switcher">
            <li><a class="selected" href="javascript;:">LOGIN</a></li>
            <li><a href="javascript:;">REGISTER</a></li>
          </ul>
          <div id="cd-login" class="is-selected">
            <div class="page-login-form">
              <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form role="form" class="login-form text-center" method="post">
                  <div class="form-group">
                    <div align="center">
                      <input type="text" id="sender-email" class="form-control" name="email" placeholder="Username" autofocus />
                    </div>
                  </div>
                  <div class="form-group">
                    <div align="center" class="input-icon">
                      <input type="password" name="passwd" class="form-control" placeholder="Password""/>
                    </div>
                  </div>          
                  <div class="form-group">
                    <button type="submit" class="btn btn-theme log-btn" name="login">Login</button>
                  </div>
                  <div class="row">
                    <div align="left" class="col-md-6">
                      <div class="checkbox checkbox-theme">
                        <input id="remember-me" type="checkbox">
                        <label for="remember-me">Remember Me</label>
                    </div>
                    </div>
                    <div align="right" class="col-md-6">
                      <a href="javascript:;">Forgot Password</a>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
          <div id="cd-signup">
            <div class="page-login-form"">
              <form role="form">
                <strong>Contact Person Name</strong>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" tabindex="1">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" tabindex="2">
                    </div>
                  </div>
                </div>
                <strong>Email</strong>
                <div class="form-group">
                  <input type="email" name="display_name" id="display_name" class="form-control input-lg" placeholder="Your Email Address" tabindex="3">
                </div>
                <strong>Contact Number</strong>
                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-lg" placeholder="+628" tabindex="4">
                </div>
                <strong>Company Name</strong>
                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Your Company Name" tabindex="4">
                </div>
                <strong>Password</strong>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Create Password" tabindex="5">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Re-type Password" tabindex="6">
                    </div>
                  </div>
                </div>
                <div align="center" class="row">
                  <!-- <div class="row"> -->
                    <div class="col-md-6 col-md-offset-3">
                       <p class="terms">By selecting Register, you agree that you've read and accepted our <a href="terms-condition.html">Terms & Conditions</a></p><br>
                       <button type="submit" name="registrasi" class="btn btn-theme log-btn">Register</button>
                    </div>
                  <!-- </div> -->
                </div>
              </form>
              <!-- <form role="form" method="post">
                <div class="form-group text-left">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" name="name" placeholder="First Name" style="border: 1px solid green;"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" name="name" placeholder="Last Name" style="border: 1px solid green;"/>
                      </div>
                    </div>
                      
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-icon">
                    <input type="text" id="sender-email" class="form-control" name="emaill" placeholder="Email" />
                  </div>
                </div>
                <div class="form-inline form-group text-left">
                  <div class="form-group">
                    <div class="input-icon">
                      <input type="text" id="sender-mobile" class="form-control" name="mobile" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon">
                      <input type="text" id="sender-mobile" class="form-control" name="mobile" placeholder="Mobile Number" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-icon">
                    <input type="text" id="sender-company" class="form-control" name="companyname" placeholder="Company Name" />
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="input-icon">
                    <input type="password" class="form-control" name="passwd1" placeholder="Password" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-icon">
                    <input type="password" class="form-control" name="passwd2" placeholder="Repeat Password" />
                  </div>
                </div>          
                  <p class="terms">By selecting Register, you agree that you've read and accepted our <a href="terms-condition.html">Terms & Conditions</a></p>
                  <button type="submit" name="registrasi" id="tombolkureistrasi" class="btn btn-common log-btn">Register</button>
              </form> -->
            </div>
          </div>
          <div class="page-login-form" id="cd-reset-password">
            <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
            <form class="cd-form">
              <div class="form-group">
                <div class="input-icon">
                  <input type="text" id="sender-email" class="form-control" name="email" placeholder="Email" />
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-common log-btn" type="submit">Reset password</button>
              </div>
            </form>
            <p class="cd-form-bottom-message">
              <a href="#0">Back to log-in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Footer Section Start -->
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript">
  $('#navbar li a').removeClass('active');
  $('#tblemp').addClass('active');
</script>