<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title" id="titlemployer">Great Employees</h2>
          <ol class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#">Talent</a>
            </li>
            <li class="current" id="titlemployer2">Great Employees</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;">
  <div class="container">
       <div class="row" style="background:white;">
                  <div class="col-md-6">
                    <table class="blacklist2 table table-striped text-left">
                      <tbody>
            
              <tr>
                <td class="td"><img class="img-member3" src="assets/img/talents/sedang_akmal.jpeg" alt=""></td>
                <td class="td2"><a href="">Irsyad Kamil Sipahutar</a>
                <div class="ratingku"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"></div>
                </td>
                <td>
                  <div class="item-body">
                    <h3 class="job-title"><a href="http://cvsaya.id/job-page.html">Design Graphic</a></h3>
                    <div class="adderess"><i class="ti-location-pin"></i> Medan, Sumatera Utara</div>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="td"><img class="img-member3" src="assets/img/talents/okiaprawasti.jpg" alt=""></td>
                <td class="td2"><a href="http://cvsaya.id/great-employe">Okia Prawasti</a>
                <div class="ratingku"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"></div>
                </td>
                <td>
                  <div class="item-body">
                    <h3 class="job-title"><a href="http://cvsaya.id/job-page.html">CEO CVSAYA.ID</a></h3>
                    <div class="adderess"><i class="ti-location-pin"></i> Medan, Sumatera Utara</div>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="td"><img class="img-member3" src="assets/img/talents/Yusni.png" alt=""></td>
                <td class="td2"><a href="http://cvsaya.id/great-employe">Yusni Nasution</a>
                <div class="ratingku"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"></div>
                </td>
                <td>
                  <div class="item-body">
                    <h3 class="job-title"><a href="http://cvsaya.id/job-page.html">Directur</a></h3>
                    <div class="adderess"><i class="ti-location-pin"></i> Medan, Sumatera Utara</div>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="td"><img class="img-member3" src="assets/img/talents/sedang_roy.jpg" alt=""></td>
                <td class="td2"><a href="http://cvsaya.id/great-employe">Dr. Roy Kaban</a>
                <div class="ratingku"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"></div>
                </td>
                <td>
                  <div class="item-body">
                    <h3 class="job-title"><a href="http://cvsaya.id/job-page.html">CEO of MRI</a></h3>
                    <div class="adderess"><i class="ti-location-pin"></i> Medan, Sumatera Utara</div>
                    </div>
                </td>
              </tr>
              
              <tr>
                <td class="td"><img class="img-member3" src="assets/img/talents/sedang_wanda.jpeg" alt=""></td>
                <td class="td2"><a href="http://cvsaya.id/great-employe">Annas Rusdi Awandari</a><div class="ratingku"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating1.png"><img src="assets/img/talents/Rating3.png"><img src="assets/img/talents/Rating2.png"><img src="assets/img/talents/Rating2.png"></div></td>
                <td>
                  <div class="item-body">
                    <h3 class="job-title"><a href="http://cvsaya.id/job-page.html">Software Engineer</a></h3>
                    <div class="adderess"><i class="ti-location-pin"></i> Medan, Sumatera Utara</div>
                    </div>
                </td>
              </tr>
                        <tr>            
                          <td colspan="3" style="background:#093;"><a style="color:#fff">Load more listing <span class="ti-angle-double-right"></span></a></td>
                        </tr>
                      </tbody>
                    </table>

                </div>              
                <div class="col-md-6">
                  <img src="assets/img/talents/ge(1).png">
                  <video width="320" height="240" style="margin-top: 10px" controls>
                    <source src="" type="video/mp4">
                  </video>
                </div>
              </div>
     </div>
</div>
<script type="text/javascript">
  $(window).load(function() {
        $(".loader").delay(500).fadeOut("slow");
      });
  $('#navbar li a').removeClass('active');
  $('#tblgreat').addClass('active');
</script>