<div class="page-header" style="background: url(assets/img/bg/bg-hukers.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Hukers</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="current">Hukers</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" style="background: url(assets/img/bg/footerz.png)!important;">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10"><h6>PEOPLE YOU MIGHT KNOW</h6></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 hukers-menu">
          <div class="list-group">
            <a href="javascript:;" class="list-group-item activee"><span>All LINKS</span></a>
            <a href="javascript:;" class="list-group-item"><span>Company</span></a>
            <a href="javascript:;" class="list-group-item"><span>Related Position<span></a>
            <a href="javascript:;" class="list-group-item"><span>Alumnus<span></a>
          </div>
          <button class="btn btn-sm btn-theme">Add Links</button>     
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-content">
              <img class="img img-circle" id="hukes-img-sm" src="assets/img/Good.jpg">
              <div class="card-title">
                <span>Irsyad Kamil S</span>
              </div>
              <div class="category text-muted">
                <span>Manager</span>
              </div>
              <div class="category text-muted">
                <span><i>Medan</i></span>
              </div>
          </div>
          <button class="btn-warning btn-hukes-con">+ Links</button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-content">
              <img class="img img-circle" id="hukes-img-sm" src="assets/img/Good.jpg">
              <div class="card-title">
                <span>Irsyad Kamil S</span>
              </div>
              <div class="category text-muted">
                <span>Manager</span>
              </div>
              <div class="category text-muted">
                <span><i>Medan</i></span>
              </div>
          </div>
          <button class="btn-warning btn-hukes-con">+ Links</button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-content">
              <img class="img img-circle" id="hukes-img-sm" src="assets/img/Good.jpg">
              <div class="card-title">
                <span>Irsyad Kamil S</span>
              </div>
              <div class="category text-muted">
                <span>Manager</span>
              </div>
              <div class="category text-muted">
                <span><i>Medan</i></span>
              </div>
          </div>
          <button class="btn-warning btn-hukes-con">+ Links</button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-content">
              <img class="img img-circle" id="hukes-img-sm" src="assets/img/Good.jpg">
              <div class="card-title">
                <span>Irsyad Kamil S</span>
              </div>
              <div class="category text-muted">
                <span>Manager</span>
              </div>
              <div class="category text-muted">
                <span><i>Medan</i></span>
              </div>
          </div>
          <button class="btn-warning btn-hukes-con">+ Links</button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-content">
              <img class="img img-circle" id="hukes-img-sm" src="assets/img/Good.jpg">
              <div class="card-title">
                <span>Irsyad Kamil S</span>
              </div>
              <div class="category text-muted">
                <span>Manager</span>
              </div>
              <div class="category text-muted">
                <span><i>Medan</i></span>
              </div>
          </div>
          <button class="btn-warning btn-hukes-con">+ Links</button>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="hukes-header">
              <img src="assets/img/bg/bg1.png">
            </div>
          <div class="card-content hukes">
            <img class="img img-circle" id="hukes-img-md" src="assets/img/Good.jpg">
            <div class="card-title">
              <h5>Irsyad Kamil S</h5>
            </div>
            <div class="category text-muted">
              <span>Design graphic at PT. Raksasa Indonesia (danmogot.com)</span>
            </div>
            <button class="btn btn-sm btn-warning">Contact</button>
            <button class="btn btn-sm btn-theme">Hire</button>
            <button class="btn btn-sm btn-warning" onclick="display_review_member()">More...</button>
          </div>
          <div class="category text-muted hukes-footer">
            <p>Design graphic at PT. Raksasa Indonesia (danmogot.com)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="hukes-header">
              <img src="assets/img/bg/bg1.png">
            </div>
          <div class="card-content hukes">
            <img class="img img-circle" id="hukes-img-md" src="assets/img/Good.jpg">
            <div class="card-title">
              <h5>Irsyad Kamil S</h5>
            </div>
            <div class="category text-muted">
              <span>Design graphic at PT. Raksasa Indonesia (danmogot.com)</span>
            </div>
            <button class="btn btn-sm btn-warning">Contact</button>
            <button class="btn btn-sm btn-theme">Hire</button>
            <button class="btn btn-sm btn-warning">More...</button>
          </div>
          <div class="category text-muted hukes-footer">
            <p>Design graphic at PT. Raksasa Indonesia (danmogot.com)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="hukes-header">
              <img src="assets/img/bg/bg1.png">
            </div>
          <div class="card-content hukes">
            <img class="img img-circle" id="hukes-img-md" src="assets/img/Good.jpg">
            <div class="card-title">
              <h5>Irsyad Kamil S</h5>
            </div>
            <div class="category text-muted">
              <span>Design graphic at PT. Raksasa Indonesia (danmogot.com)</span>
            </div>
            <button class="btn btn-sm btn-warning">Contact</button>
            <button class="btn btn-sm btn-theme">Hire</button>
            <button class="btn btn-sm btn-warning">More...</button>
          </div>
          <div class="category text-muted hukes-footer">
            <p>Design graphic at PT. Raksasa Indonesia (danmogot.com)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="hukes-header">
              <img src="assets/img/bg/bg1.png">
            </div>
          <div class="card-content hukes">
            <img class="img img-circle" id="hukes-img-md" src="assets/img/Good.jpg">
            <div class="card-title">
              <h5>Irsyad Kamil S</h5>
            </div>
            <div class="category text-muted">
              <span>Design graphic at PT. Raksasa Indonesia (danmogot.com)</span>
            </div>
            <button class="btn btn-sm btn-warning">Contact</button>
            <button class="btn btn-sm btn-theme">Hire</button>
            <button class="btn btn-sm btn-warning">More...</button>
          </div>
          <div class="category text-muted hukes-footer">
            <p>Design graphic at PT. Raksasa Indonesia (danmogot.com)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="hukes-header">
              <img src="assets/img/bg/bg1.png">
            </div>
          <div class="card-content hukes">
            <img class="img img-circle" id="hukes-img-md" src="assets/img/Good.jpg">
            <div class="card-title">
              <h5>Irsyad Kamil S</h5>
            </div>
            <div class="category text-muted">
              <span>Design graphic at PT. Raksasa Indonesia (danmogot.com)</span>
            </div>
            <button class="btn btn-sm btn-warning">Contact</button>
            <button class="btn btn-sm btn-theme">Hire</button>
            <button class="btn btn-sm btn-warning">More...</button>
          </div>
          <div class="category text-muted hukes-footer">
            <p>Design graphic at PT. Raksasa Indonesia (danmogot.com)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="hukes-header">
              <img src="assets/img/bg/bg1.png">
            </div>
          <div class="card-content hukes">
            <img class="img img-circle" id="hukes-img-md" src="assets/img/Good.jpg">
            <div class="card-title">
              <h5>Irsyad Kamil S</h5>
            </div>
            <div class="category text-muted">
              <span>Design graphic at PT. Raksasa Indonesia (danmogot.com)</span>
            </div>
            <button class="btn btn-sm btn-warning">Contact</button>
            <button class="btn btn-sm btn-theme">Hire</button>
            <button class="btn btn-sm btn-warning">More...</button>
          </div>
          <div class="category text-muted hukes-footer">
            <p>Design graphic at PT. Raksasa Indonesia (danmogot.com)</p>
          </div>
        </div>
      </div>
    </div>
    <div align="center" class="row">
      <div class="col-md-12">
        <button class="btn btn-warning">Load More</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function() {
        $(".loader").delay(500).fadeOut("slow");
      });
  $('#navbar li a').removeClass('active');
  $('#tblhukers').addClass('active');
  function display_review_member() {
        $.ajax({
            url: "display-review-member.html",
            dataType: "html",
            cache: false,
            beforeSend: function(data){
              $(".loader").fadeIn();
            },
            success: function(data){
              $(".loader").fadeOut("slow")
              $('#page-content').load('display-review-member.html');
            }
        });
      };
  
</script>