<div class="page-header" style="background: url(assets/img/bg/bg-hukers.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">You can hire the right talent you need</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="">HUkers</a></li>
            <li class="current"><a>Write-review</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="my-account">
  <div class="container" style="background-color: #fff">
    <div class="row">
      <div class="col-md-12 cd-user-modal">
        <form method="post" action="">
          <div class="col-md-6" style="padding-bottom: 20px">
            <input class="form-control" type="text" name="companyname" placeholder="Company Name*" style="border-radius: 4px">
          </div>
          <div class="col-md-6" style="padding-bottom: 20px">
            <input class="form-control" type="email" name="companyemail" placeholder="Company Email*" style="border-radius: 4px">
          </div>
          <div class="col-md-6" style="padding-bottom: 20px">
            <input class="form-control" type="text" name="subject" placeholder="Subject*" style="border-radius: 4px">
          </div>
          <div class="col-md-6" style="padding-bottom: 20px">
            <span style="float: left;margin-right: 20px"><h4>Your Rating</h4></span>
            <div class="ratingku">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating1.png">
              <img src="assets/img/talents/Rating3.png"> 
            </div>
          </div>
          <div class="col-md-12" style="padding-bottom: 20px">
            <textarea class="form-control" rows="5" placeholder="Your Messages*" style="border-radius: 8px"></textarea>
          </div>
          <div class="col-md-12" style="padding-bottom: 20px">
            <h4>Would you recommend this person to others?</h4><br>
            <div class="btn-group">
              <a class="btn btn-success">YES</a>
              <a class="btn btn-danger">NO</a>
            </div>
          </div>
          <div class="col-md-12" style="padding-top: 20px">
            <button type="submit" class="btn btn-warning">Post A Review</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- Footer Section Start -->
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript">
  $('#navbar li a').removeClass('active');
  $('#tblemp').addClass('active');
</script>