/*my tooltip*/
.tooltips {
  position: relative!important;
  /*display: inline!important;*/
    overflow: visible!important;
}
.tooltips span {
   position: absolute;
   /* width:100%!important; */
   color: #FFFFFF;
   background: orange;
   height: 25px;
   line-height: 25px;
   text-align: center;
   visibility: hidden;
   border-radius: 25px;
}
.aftertt, .tooltips span:after {
  content: '';
  position: absolute;
  top: 110%;
  left: 50%;
    transform: translate(0%,-50%);
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid orange;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.aktiftt, a:hover.tooltips span {
	-webkit-animation-name: tooltip; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: tooltip;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	visibility: visible!important;
	opacity: 0.5;
	bottom: 30%;
	left: 150%;
	transform: translate(-50%,-50%);
	margin-left: -76px;
	z-index: 999999;
}

/*****************************************************/
.form-inline input{
	width:49%!important;
}
span.ti-angle-double-right {
    font-size: 12px;
}
#buka-rotten>span{
	    font-size: 18px;
    margin-right: -8px;
}
#rotten-employe-list .glyphicon.glyphicon-chevron-right {
    font-size: 16px;
    margin-right: -8px;
}
.glyphicon.glyphicon-chevron-right {
    font-weight:100;
}
.my-account{
	background:url('../img/bg/bg-content.png')!important;
}
.thumbnail2 {
  
    position: relative;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: 32px;
    float: none;
    height: 200px;
    overflow: hidden;
    border: 5px solid white;
}
.thumbnail2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900');
/* ==========================================================================
   Gobal Styles
   ========================================================================== */
/* ==========================================================================
   Google Font Loader
   ========================================================================== */
/* ==========================================================================
   Common Styles
   ========================================================================== */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  overflow-x: hidden;
  /* fixing the overflow duting animation */
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 3em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.4em;
}
p {
	    float: left;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  line-height: 24px;
  font-weight: 400;
}
a {
  color: #444;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
a:hover,
a:focus {
  color: #093;
}
img {
  max-width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
  margin: 0;
}
ol {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.center {
  text-align: center;
}
::selection {
  background: #093;
  color: #fff;
}
::-moz-selection {
  background: #093;
  color: #fff;
}
.btn {
  padding: 12px 30px;
  color: #fff;
  position: relative;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: none;
}
.btn-common:hover,
.btn-common:focus {
  color: #fff;
  background: #ea4249;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.btn-search-icon:hover {
  opacity: 0.8;
}
.btn-common {
    background-color: #093;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}
.cd-form-bottom-message>a{
    margin:0px 15px;
}
.checkbox-itemm {
    display: inline-block;
    /* width: 100%; */
}
.btn-border {
  background: #fff;
  color: #093;
  text-transform: uppercase;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.btn-border:hover {
  color: #093;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.btn-search {
  padding: 11px;
}
.btn-lg {
  padding: 15px 30px;
  font-weight: 700;
  letter-spacing: 0.3px;
  border-radius: 4px;
}
.btn-sm {
  font-size: 14px;
  padding: 7px 18px;
  line-height: 1.5;
  margin-bottom: 5px;
  border: none;
  text-transform: capitalize;
}
.btn.btn-sm,
.btn-group-sm .btn,
.navbar .navbar-nav > li > a.btn.btn-sm,
.btn-group-sm .navbar .navbar-nav > li > a.btn {
  padding: 5px 20px;
  font-size: 13px;
}
.btn-xs {
  border-radius: 0px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}
.btn-rm {
  padding: 10px 21px;
  text-transform: uppercase;
}
.btn-post {
  padding: 10px 16px;
}
.btn-search-icon {
  padding: 3px 22px;
  height: 37px;
  font-size: 22px;
  background: #093;
  color: #fff;
  width: 109px;
  text-align: center;
}
.btn-search-icon:hover {
  color: #fff;
}
.section {
  padding: 60px 0;
}
.section-title {
  font-size: 36px;
  padding: 0px 0px 30px;
  font-weight: 900;
}
.medium-title {
  font-size: 24px;
  padding: 10px 0;
  text-transform: uppercase;
  position: relative;
}
.medium-title:before {
  position: absolute;
  content: " ";
  width: 56px;
  bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid #093;
}
#content {
  padding: 80px 0;
}
.main-container {
  padding: 80px 0;
}
.no-padding {
  padding: 0px !important;
}
.page-header {
  padding: 40px 0;
  margin: 0;
  border-top: 1px solid #999;
  position: relative;
}
.page-header .product-title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
}
.breadcrumb-wrapper {
  text-align: center;
}
.breadcrumb {
  font-size: 14px;
  color: #093;
  border-radius: 0px;
  background: transparent;
  padding: 5px 0px;
  z-index: 1;
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb a:hover {
  color: #093;
}
/*  preloader   */
#loading {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  margin-top: 0px;
  top: 0px;
}
#loading #loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading #loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#loading .object {
  width: 20px;
  height: 20px;
  background-color: #093;
  position: absolute;
  left: 65px;
  top: 65px;
  border-radius: 500px;
}
#loading .object:nth-child(2n+0) {
  margin-right: 0px;
}
#loading #object_one {
  -webkit-animation: object_one 2s infinite;
  animation: object_one 2s infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#loading #object_two {
  -webkit-animation: object_two 2s infinite;
  animation: object_two 2s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#loading #object_three {
  -webkit-animation: object_three 2s infinite;
  animation: object_three 2s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#loading #object_four {
  -webkit-animation: object_four 2s infinite;
  animation: object_four 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#loading #object_five {
  -webkit-animation: object_five 2s infinite;
  animation: object_five 2s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#loading #object_six {
  -webkit-animation: object_six 2s infinite;
  animation: object_six 2s infinite;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#loading #object_seven {
  -webkit-animation: object_seven 2s infinite;
  animation: object_seven 2s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#loading #object_eight {
  -webkit-animation: object_eight 2s infinite;
  animation: object_eight 2s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes object_one {
  50% {
    -webkit-transform: translate(-65px, -65px);
  }
}
@keyframes object_one {
  50% {
    transform: translate(-65px, -65px);
    -webkit-transform: translate(-65px, -65px);
  }
}
@-webkit-keyframes object_two {
  50% {
    -webkit-transform: translate(0, -65px);
  }
}
@keyframes object_two {
  50% {
    transform: translate(0, -65px);
    -webkit-transform: translate(0, -65px);
  }
}
@-webkit-keyframes object_three {
  50% {
    -webkit-transform: translate(65px, -65px);
  }
}
@keyframes object_three {
  50% {
    transform: translate(65px, -65px);
    -webkit-transform: translate(65px, -65px);
  }
}
@-webkit-keyframes object_four {
  50% {
    -webkit-transform: translate(65px, 0);
  }
}
@keyframes object_four {
  50% {
    transform: translate(65px, 0);
    -webkit-transform: translate(65px, 0);
  }
}
@-webkit-keyframes object_five {
  50% {
    -webkit-transform: translate(65px, 65px);
  }
}
@keyframes object_five {
  50% {
    transform: translate(65px, 65px);
    -webkit-transform: translate(65px, 65px);
  }
}
@-webkit-keyframes object_six {
  50% {
    -webkit-transform: translate(0, 65px);
  }
}
@keyframes object_six {
  50% {
    transform: translate(0, 65px);
    -webkit-transform: translate(0, 65px);
  }
}
@-webkit-keyframes object_seven {
  50% {
    -webkit-transform: translate(-65px, 65px);
  }
}
@keyframes object_seven {
  50% {
    transform: translate(-65px, 65px);
    -webkit-transform: translate(-65px, 65px);
  }
}
@-webkit-keyframes object_eight {
  50% {
    -webkit-transform: translate(-65px, 0);
  }
}
@keyframes object_eight {
  50% {
    transform: translate(-65px, 0);
    -webkit-transform: translate(-65px, 0);
  }
}
/* ==========================================================================
   Navigation Menu Styles
   ========================================================================== */
.navbar-default.affix {
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.navbar-default.affix .navbar-brand {
  padding: 7px 0px;
}
.navbar-default.affix .navbar-nav {
  margin: 10px 0px 0px 20px;
}
.navbar-default.affix .navbar-nav > li > a,
.navbar-default.affix .navbar-nav > li > a:focus {
  padding: 10px 14px;
  color: #444;
}
.navbar-default.affix .side {
  padding: 18px 0;
}
.navbar-default.affix .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}
.navbar-default.affix .float-right li a {
  color: #093 !important;
  border: 1px solid #093;
}
.navbar-default.affix .float-right li a:hover {
  background: #093;
  color: #fff!important;
}
.navbar {
  margin-bottom: 0;
  background-color:white;
  border: none;
  border-radius: 0px;
  box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.navbar-brand {
  position: relative;
  margin: 0!important;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-brand .ripple-container {
  display: none;
}
.navbar-default .navbar-nav {
  position: relative;
  margin: 20px 0px 5px 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li {
  margin-right: 5px;
  padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  display: block;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li > .empbtn {
	background:orange;
  
  display: block;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
  color: #fff;
  background-color: #093;
}
.navbar-default .navbar-nav > li:hover > .empbtn,
.navbar-default .navbar-nav > li > .empbtn.active {
  
  background-color: #093;
}
.navbar-default .navbar-nav .dropdown {
  background: #ffffff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  left: 0;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 100%;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width: 195px;
  z-index: 999;
}
.navbar-default .navbar-nav .dropdown:before {
  position: absolute;
  top: -6px;
  left: 22px;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 8px 7px;
  border-color: transparent transparent #fff;
  box-sizing: border-box;
}
.navbar-default .navbar-nav > li.drop:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.dropdown li a.active,
.sup-dropdown li a.active {
  color: orange;
}
.dropdown > li:hover > a,
.sup-dropdown li:hover > a {
  color: orange;
}
.dropdown li,
.sup-dropdown li {
  position: relative;
}
.dropdown li a,
.sup-dropdown li a {
  display: block;
  color: #666;
  margin-bottom: 2px;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px 10px;
  line-height: 26px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  max-width: 100%;
}
.dropdown li a i {
  float: right;
  font-size: 17px;
  position: relative;
  top: -1px;
  margin: 4px 5px;
}
.navbar-default .navbar-nav .sup-dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 2px;
  border-bottom: 2px solid #093;
  padding: 12px;
  width: 195px;
  background-color: #fff;
  margin-left: 10px;
  z-index: 3;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  z-index: 9999;
}
.float-right {
  border-radius: 0px;
  margin-left: 30px;
}
.float-left {
 float:left;
}
.float-right li a {
  font-size: 13px;
  color: #000!important;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  margin-right: 0px;
  text-transform: uppercase;
}
.float-right li a:hover {
  background: #2d61e6;
  color: #fff;
}
.float-right li a i {
  margin-right: 3px;
}
.main-navigation {
  background: #fff;
}
.main-navigation .navbar-nav > li > a {
  color: #444;
}
.main-navigation .float-right li a {
  color: #093 !important;
  border: 1px solid #093;
}
.main-navigation .float-right li a:hover {
  color: #fff!important;
}
.main-navigation .navbar-nav .dropdown {
  background: #282828;
}
.main-navigation .dropdown li a,
.main-navigation .sup-dropdown li a {
  color: #fff;
}
.main-navigation .navbar-nav .dropdown:before {
  border-color: transparent transparent #282828;
}
.wpb-mobile-menu {
  display: none;
}
.wpb-mobile-menu ul li > ul {
  padding: 0;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-radius: 0;
  left: 0;
  right: 0;
  border-color: transparent;
}
.wpb-mobile-menu-text {
  padding-left: 20px;
}
/*.wpb-mobile-menu > ul > li:hover{
  background-color: #093
}*/
.wpb-mobile-menu ul li > ul > li {
  color: #093;
  padding: 10px 0 10px 15px;
}
.wpb-mobile-menu ul li > ul > li > a:hover,
.wpb-mobile-menu ul li > ul > li > a .active {
  background-color: #093;
}
.wpb-mobile-menu ul li > ul > li.active > a {
  background: #093;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    top: 0;
  }
  .tbtn {
    display: none;
  }
  /* #menu is the original menu */
   .slicknav_menu {
    display: block;
    background-color:#00000000;
  }
}
@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: none;
  }
  .tbtn {
    display: none;
  }
}
.tbtn {
  color: #FFF !important;
  font-size: 30px;
  height: 42px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 105px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  background: #093;
  z-index: 999;
  top: 124px;
  left: 0px;
}
.tbtn p {
  font-size: 12px;
}
.tbtn p i {
  margin-right: 4px;
  font-size: 14px;
}
.title-menu {
  font-size: 15px;
  color: #666;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}
.navmenu,
.navbar-offcanvas {
  width: 180px;
  z-index: 9999999;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
  background-color: #fff;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
  color: #fff;
  background-color: #093;
}
.nav > li {
  position: relative;
  display: block;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: #666;
  padding: 0px 15px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
nav#menu span.fa.fa-bars:hover {
  color: #093;
}
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
  background: #093;
  color: #fff;
}
.close {
  background: transparent;
  padding: 14px 12px;
  opacity: 1;
}
.close i {
  background: #093;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
  font-size: 12px;
}
/* ==========================================================================
   Custom Component
   ========================================================================== */
/* ==========================================================================
   Preset Loader
   ========================================================================== */
/*====================================================
    intro section style
    ====================================================*/
.section-intro {
  background: url("../img/bg/bg-intro.jpg") right no-repeat;
  background-position: 90% 100%;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
}
.section-intro:before {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  
  position: absolute;
}
.search-container {
  padding: 200px 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.search-container .form-control {
  padding: 0 41px;
  border: 1px solid transparent;
}
.search-container .form-group {
  margin-bottom: 0px!important;
}
.search-container h2 {
  font-size: 30px;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.search-container h1 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 30px;
}
.search-container .content {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-bottom: 30px;
}
.popular-jobs a {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  color: #fff;
  margin: 0 5px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.popular-jobs a:hover {
  background: #093;
  border-color: #093;
  color: #fff;
}
.section-intro .main-text {
  margin: 100px 15px 130px;
  text-transform: uppercase;
}
.section-intro .main-text .intro-title {
  font-size: 48px;
  color: #fff;
  white-space: nowrap;
  line-height: 58px;
}
.section-intro .main-text .sub-title {
  font-size: 14px;
  color: #fff;
  padding: 15px 0;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
#search-row-wrapper {
  background: url("../img/bg/counter-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
#search-row-wrapper .overlay {
  background: url("../img/bg/bg-overlay.png") rgba(0, 0, 0, 0.3) repeat;
  width: 100%;
  height: 100%;
}
#search-row-wrapper .search-inner {
  padding: 40px 0;
}
#intro-bg {
  background: url("../img/bg/bg-intro-1.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
}
#intro-bg:before {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(42, 46, 50, 0.7);
  position: absolute;
}
/* ==========================================================================
   Advanced search
   ========================================================================== */
.search-bar {
  background: rgba(68, 68, 68, 0.7);
  padding: 20px;
}
.search-bar i {
  font-size: 15px;
  position: absolute;
  top: 0px;
  background-color: transparent;
  color: #444;
  right: 15px;
  padding: 15px;
}
.search-bar label {
  z-index: 0;
  font-weight: 400;
  width: 100%;
  margin: 0px;
}
.search-bar .form-group {
  margin-bottom: 0px!important;
}
.input-group-addon {
  border: none;
}
.search-category .search-category-container {
  border: none;
  padding: 0;
  position: relative;
  border-radius: 0;
  border: none!important;
  background: #fff;
}
.input-group-addon {
  padding: 0!important;
}
.styled-select {
  position: relative;
  width: 100%;
  background: #fff;
}
.styled-select:before {
  content: "\e651";
  float: left;
  position: absolute;
  font-family: themify;
  color: #666;
  left: 2px;
  padding: 13px;
  z-index: 999;
}
.styled-select > select {
  background: transparent;
  font-size: 14px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  height: 44px;
}
.search-category select {
  padding: 12px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
select > opation:focus {
  box-shadow: none;
  border: none;
}
.dropdown-product select.balck {
  background-color: #666;
}
.dropdown-product select.option3 {
  border-radius: 10px 0;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted transparent!important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px!important;
}
.btn-default {
  border-radius: 0px;
  color: #333 !important;
  background: #eee;
  text-transform: none;
  border: 1px solid green;
  border-radius: 5px;
}

.border {
  border: 1px solid #333;
}

.btn-default:hover {
  background-color: #fff;
  border-color: #fff;
}
label {
  margin: 0;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  margin-left: 30px;
}
.page-ads .styled-select {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
  color: #444;
  display: block;
}
.page-ads .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
/* ==========================================================================
   Jobs section Start
   ========================================================================== */
.find-job {
	background: url(../img/bg/footerz.png)!important;
	background-repeat:repeat-x;
}
.find-job .tabs-container {
  background: #F0F3FA;
  padding: 15px;
  border: 1px solid #ddd;
}
.find-job .nav-tabs {
  padding: 20px 0;
  background: transparent;
}
.find-job .nav-tabs > li > a {
  padding: 10px 15px;
  font-size: 14px;
  color: #093;
  text-transform: uppercase;
  border: 1px solid #093 !important;
  border-radius: 0px;
  margin-right: 10px;
  font-weight: 700;
}
.find-job .nav > li > a:focus,
.find-job .nav > li > a:hover {
  background-color: #093;
  color: #fff;
}
.find-job .nav-tabs > li.active > a,
.find-job .nav-tabs > li.active > a:focus,
.find-job .nav-tabs > li.active > a:hover {
  border-radius: 0px;
  background: #093;
  color: #fff;
}
.find-job table td {
  line-height: 78px !important;
  font-size: 14px;
  font-weight: 700;
}
.find-job td img {
  margin-right: 10px;
}
.find-job .table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #fff;
}
.find-job .table > caption + thead > tr:first-child > td,
.find-job .table > caption + thead > tr:first-child > th,
.find-job .table > colgroup + thead > tr:first-child > td,
.find-job .table > colgroup + thead > tr:first-child > th,
.find-job .table > thead:first-child > tr:first-child > td,
.find-job .table > thead:first-child > tr:first-child > th {
  padding: 15px 0;
  color: #627198;
  font-size: 14px;
  font-weight: 700;
}
.find-job .pill {
  display: inline-block;
  padding: 4px 4px;
  height: 18px;
  line-height: 12px;
  text-align: center;
  border-radius: 30px;
  color: white;
}
.find-job .pill.medium {
  padding: 4px 10px;
  height: 22px;
  font-size: 12px;
  line-height: 15px;
}
.find-job .green {
  background: #9DB722;
}
.find-job .red {
  background: #DE4003;
}
.find-job .yellow {
  background: #DDA103;
}
.find-job .showing a {
  margin-left: 10px;
  font-size: 14px;
  line-height: 32px;
}
.find-job .showing a span {
  color: #093;
}
.find-job .pagination > li > a,
.find-job .pagination > li > span {
  margin-right: 5px;
  border-radius: 50px;
  background: transparent;
  color:black;border-color:#093!important;
  
}
.find-job .pagination .btn i {
  font-size: 10px;
}
/* ==========================================================================
   Category Section Start
   ========================================================================== */
.category {
  background: #093;
}
.category .section-title {
  color: #fff;
}
.f-category:hover .icon img,
.f-category:hover .icon i {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.f-category {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: 1px solid #ddd;
  height: 190px;
  margin-top: -1px;
  background: #ffffff;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  display: block;
  margin-right: -1px;
}
.f-category:hover {
  background: #eee;
}
.f-category .icon {
  margin: 15px;
}
.f-category .icon img {
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.f-category .icon i {
  font-size: 40px;
  padding: 20px;
  color: #093;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.f-category h3 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 32px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.f-category h3 a {
  color: #444;
}
.f-category h3 a:hover {
  color: #093;
}
.f-category p {
  color: #999;
}
/* ==========================================================================
   Featured Jobs Section Style
   ========================================================================== */
.featured-jobs .featured-item {
	text-align:center;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 0px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  cursor: pointer;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
.featured-jobs .featured-item:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
.featured-jobs .featured-wrap {
  background: #fff;
  width: 100%;
  padding: 8px;
}
.featured-jobs .item-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.featured-jobs .item-thumb a {
  display: block;
}
.featured-jobs .item-thumb:hover {
  opacity: 0.9;
}
.featured-jobs .item-body {
  padding: 20px 12px 10px;
  width: 100%;
  text-align:center;
}
.featured-jobs .item-body .job-title {
  margin: 0 0 4px 0;
}
.featured-jobs .item-body .job-title a {
  font-size: 16px;
  text-transform: uppercase;
}
.featured-jobs .item-body .job-title a:hover {
  color: #093;
}
.featured-jobs .item-body .adderess {
  color: #999;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.featured-jobs .item-foot {
  background: #fff;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 14px 20px;
  position: relative;
}
.featured-jobs .item-foot a {
  color: #999;
}
.featured-jobs .item-foot a:hover {
  color: #093;
}
.featured-jobs .item-foot span {
  color: #999;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 10px;
}
.featured-jobs .item-foot span i {
  margin-right: 5px;
}
.featured-jobs .item-foot .view-iocn {
  position: absolute;
  top: -24px;
  right: 24px;
}
.featured-jobs .item-foot .view-iocn a {
  width: 48px;
  display: block;
  background: #093;
  color: #fff;
  font-size: 20px;
  height: 48px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
/* ==========================================================================
   purchase 
   ========================================================================== */
.purchase {
  background-image: url("../img/parallax/bg-02.jpg");
  padding: 100px 0;
  background-attachment: absolute;
  background-position: 50% 0;
}
.purchase .title-text {
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.purchase p {
  color: #9FA7BA;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
/* ==========================================================================
   Blog 
   ========================================================================== */
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
#blog .blog-item-wrapper:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
#blog .blog-item-img {
  position: relative;
}
#blog .blog-item-img img {
  width: 100%;
}
#blog .blog-item-text {
  border: 1px solid #f1f1f1;
  padding: 15px;
}
#blog .blog-item-text .meta-tags {
  margin-bottom: 10px;
}
#blog .blog-item-text .meta-tags span {
  margin-right: 10px;
}
#blog .blog-item-text .meta-tags span i {
  margin-right: 5px;
}
#blog .blog-item-text h3 {
  line-height: 26px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
#blog .blog-item-text p {
  line-height: 25px;
  margin-bottom: 20px;
}
/* ==========================================================================
   Testimonial Section Start
   ========================================================================== */
#testimonial {
  width: 100%;
      text-align: center;
  background-size: cover;
  position: relative;
}
.senter{
	    display: inline-block;
    float: none;
}
.garis {
    border-bottom: 2px solid #093;
    width: 18%;
    float: none;
    position: relative;
    margin: auto;
    display: inline-block;
}
#testimonial:before {
  /*position: absolute;*/
  content: " ";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#testimonial .img-member {
  height: 90px;
  border-radius: 100%;
  border:5px solid #093;
  margin-top: 22px;
  overflow: hidden;
  width: 90px;
}
#testimonial .client-info {
  color: black;
  line-height: 20px;
  margin: 20px auto;
}
#testimonial .client-info .client-name {
  font-size: 20px;
  line-height: 44px;
  text-transform: uppercase;
}
#testimonial .client-info .client-name span {
  font-size: 13px;
  font-weight: 400;
  color: darkgray;
  text-transform: none;
  font-style: italic;
}

#tombolkureistrasi{
	    width: 100px;
}
.registerku {
    padding-bottom:52px!important;
}
#testimonial p {
	float:unset;
  margin: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.9px;
  color: gray;
  font-style: italic;
  position: relative;
}
#testimonial p .quote-left {
  font-size: 32px;
  margin-right: 36px;
}
#testimonial p .quote-right {
  font-size: 32px;
  margin-left: 36px;
}
#testimonial .owl-theme .owl-controls .owl-buttons div {
  border-radius: 50%;
  border:3px solid #093;
  font-size: 30px;
  margin: 20px 10px 0;
  padding: 0 12px;
}
.touch-slider .owl-controls .owl-buttons {
  position: relative;
  top: -190px;
  left: 0;
}
.touch-slider .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -45px;
}
.touch-slider .owl-controls .owl-buttons div.owl-next {
  float: right !important;
  margin-right: -45px;
}
.owl-theme .owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: block !important;
  background: #093 !important;
  text-align: center;
  display: inline-block;
  opacity: 1!important;
  border-radius: 50px!important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.8!important;
}
.owl-theme .owl-controls .owl-buttons div i {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}
/* ==========================================================================
   Clients Section
   ========================================================================== */
.clients {
	padding-bottom: 5px;
padding-top: 26px;
    background: #ffffff;
}
.clients .items {
  margin: 15px;
  text-align: center;
}
/* ==========================================================================
    Counter Style
    ========================================================================== */
#counter {
  background: url("../img/bg/counter-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}
.counting {
  margin: 15px 0px;
}
.counting .icon {
  margin-bottom: 25px;
}
.counting .icon i {
  color: #093;
  font-size: 42px;
}
.counting .desc h2 {
  font-size: 30px;
  line-height: 27px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.counting .desc h2:after {
  background: #093;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 45px;
}
.counting .desc h1 {
  font-size: 38px;
  line-height: 39px;
}
.counting:hover span {
  background: #093;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* ==========================================================================
   Infobox Style
   ========================================================================== */
.infobox {
  background: #093;
}
.infobox .info-text {
  float: left;
  display: inline-block;
}
.infobox .info-text h2 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #fff;
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
}
.infobox .info-text p {
  color: #fff;
  line-height: 30px;
}
.infobox .info-text p a {
  color: #ddd;
}
.infobox .info-text p a:hover {
  color: #fff;
}
.infobox .btn {
  margin-top: 15px;
  float: right;
}
/* ==========================================================================
   Footer Style
   ========================================================================== */
   .widgett {
    padding:0px!important;
}
footer .block-title {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 10px;
}

footer .footer-Content {
	    
	    padding-bottom: 0px!important;
    border-top: 2px solid #093;
    background: url(../img/bg/footer.png) bottom right no-repeat;
	      background-position: 70% 103%;
    padding: 60px 0;
    color: #093;
}

.garisbawah.text-right {
    color: white;
    padding-right: 60px;
    padding-bottom: 4px;
}


.garisbawah.text-right>a {
    color: white;
}
.textwidget {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #093;
}
footer .menu {
  padding-left: 0;
}
footer .menu li {
  padding-bottom: 10px;
}
footer .menu li a {
  color: #093;
  padding: 0px;
}
footer .menu li a:hover {
  color: orange!important;
}
.subscribe-box {
  margin-top: 18px;
}
.subscribe-box input[type="text"] {
  color: #444;
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  background: #a9a6a6;
  width:80%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  outline: none;
}
.subscribe-box input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background: #093;
  text-transform: uppercase;
  border: none;
  padding: 7px 16px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.bottom-social-icons {
  margin-bottom: 10px;
}
.bottom-social-icons a {
  color: #fff;
  text-align: center;
  width: 42px;
  line-height: 44px;
  margin-right: 5px;
  border-radius: 50px;
  background: #093;
  display: inline-block;
  height: 42px;
  position: relative;
  overflow: hidden;
}
#copyright {
  background-color: #202020;
  border-top: 1px solid #393939;
  padding: 20px 0 10px;
  color: #fff;
}
#copyright p {
  line-height: 34px;
}
#copyright p a {
  color: #fff;
}
#copyright p a:hover {
  color: #093;
}
.social-icon .facebook:hover {
  background-color: #3b5998;
}
.social-icon .instagram:hover {
  background-color: #803baf;
}
.social-icon .twitter:hover {
  background-color: #55acee;
}
.social-icon .dribble:hover {
  background-color: #D34836;
}
.social-icon .flickr:hover {
  background-color: #ff0084;
}
.social-icon .youtube:hover {
  background-color: #CC181E;
}
.social-icon .google-plus:hover {
  background-color: #dd4b39;
}
.social-icon .linkedin:hover {
  background-color: #007bb5;
}
footer ul li a {
  padding: 0px;
}
footer {
  padding: 0px;
}
/* ==========================================================================
   Categories Page style
   ========================================================================== */
.widget-title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.widget-title:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #093;
  width: 50px;
  bottom: -1px;
  left: 0px;
}
.widget-title i {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  color: #093;
}
.widget-title h4 {
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
}
.inner-box {
  border: 1px solid #eee;
  padding: 30px;
  margin-bottom: 30px;
}
.categories-list ul {
  margin: 0;
}
.categories-list ul li a {
  padding: 10px;
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
  color: #444;
  border-bottom: 1px solid #eee;
}
.categories-list ul li a:hover {
  color: #093;
}
.categories-list ul li a i {
  margin-right: 5px;
}
.categories-list ul li:last-child a {
  border: none;
}
/* ==========================================================================
   Categories All Page Style
   ========================================================================== */
.all-categories .cat-title {
  font-size: 14px;
  text-transform: uppercase;
  background: #F8F8F8;
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.all-categories .cat-title span {
  color: #999;
  font-size: 12px;
}
.all-categories ul {
  margin-bottom: 20px;
}
.all-categories ul li {
  padding: 4px 20px;
  font-size: 15px;
  line-height: 26px;
}
.all-categories ul li a {
  color: #999;
}
.all-categories ul li a:hover {
  color: #093;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination-bar {
  padding-bottom: 35px;
  margin-top: 35px;
}
.pagination {
  margin: 0;
}
.pagination > li > a,
.pagination .pagination > li > span {
  border: 1px solid #093;
  border-radius: 0;
  color:#093;
}
.pagination .active > a,
.pagination .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #093 !important;
  border-color: #093 !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #093;
  border-color: ##ff940f;
  color: ##ff940f;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  box-shadow: none;
}
.post-promo {
  background: #e5e5e5;
  border: 1px solid #ddd;
  padding: 30px;
}
.post-promo h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.post-promo h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
/* ==========================================================================
   About Page Style
   ========================================================================== */
#service-main .section-title {
  margin-bottom: 30px;
}
.service-item {
  text-align: center;
  padding: 30px 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.service-item .icon-wrapper {
  font-size: 40px;
  margin-bottom: 30px;
}
.service-item .icon-wrapper i {
  display: block;
  margin: 0 auto;
  color: #093;
}
.service-item h2 {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.service-item:hover {
  background: #f1f1f1;
}
.about-content {
  padding: 15px 15px;
}
.about-content .desc {
  font-weight: 700;
  line-height: 26px;
  margin-top: 20px;
}
.about-content p {
  margin-bottom: 20px;
}
/* ==========================================================================
   Job Details Page Style
   ========================================================================== */
.job-detail {
  background: #F5F5F5;
}
.job-detail .medium-title {
  margin-bottom: 30px;
  font-weight: 900;
}
.job-detail .box {
  background: #fff;
  margin-bottom: 30px;
  padding:30px;
}
.job-detail .thumb {
  float: left;
  margin: 0 20px 0 0;
}
.job-detail .text-left {
  float: left;
  width: 75%;
}
.job-detail .text-left h3 {
  font-size: 24px;
  margin: 0 0 5px 0;
}
.job-detail .text-left p {
  margin: 0 0 10px 0;
}
.job-detail .text-left .meta span {
  margin-right: 20px;
  color: #999;
}
.job-detail .text-left .meta span i {
  color: #093;
  margin-right: 3px;
}
.job-detail .text-left .price {
  font-size: 18px;
  padding: 10px 0 15px 0;
  display: block;
  clear: both;
}
.job-detail .text-left .price i {
  font-size: 15px;
  margin-right: 10px;
  color: #093;
}
.job-detail .text-left .btn {
  margin-right: 20px;
}
.job-detail .clearfix {
  display: inline-block;
  width: 100%;
  
}
.job-detail .clearfix h4 {
  margin-bottom: 10px;
  font-size:24px;
}
.job-detail .clearfix p {
  color: #888;
  margin: 0 0 20px 0;
}
.job-detail .clearfix ul li {
  padding: 0 0 30px 20px;
  overflow: hidden;
  display: block;
  font-size: 14px;
  color: #666;
  position: relative;
}
.job-detail .clearfix ul li i {
  position: absolute;
  left: 0;
  top: 4px;
  margin-right: 5px;
  color: #093;
}
.job-detail .sidebar .thumb {
  width: 100%;
  background: #000;
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
}
.job-detail .sidebar .text-box h4 {
  margin: 0 0 12px 0;
}
.job-detail .sidebar .text-box h4 a {
  color: #093;
}
.job-detail .sidebar .text-box p {
  color: #888;
  margin: 0 0 10px 0;
}
.job-detail .sidebar .text-box a.text {
  display: block;
  color: #888;
  padding: 0 0 5px 0;
}
.job-detail .sidebar .text-box a.text i {
  margin-right: 5px;
  color: #093;
}
.job-detail .sidebar .text-box strong.price {
  color: #666;
  font-size: 15px;
  display: block;
  padding: 3px 0 15px 0;
}
.job-detail .sidebar .text-box strong.price i {
  margin-right: 5px;
  color: #093;
}
.job-detail .sidebar .sidebar-jobs ul li {
  display: block;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.job-detail .sidebar .sidebar-jobs ul li:last-child {
  border: none;
}
.job-detail .sidebar .sidebar-jobs ul li a {
  display: block;
  padding: 0 0 5px 0;
}
.job-detail .sidebar .sidebar-jobs ul li span {
  color: #888;
  display: block;
}
.job-detail .sidebar .sidebar-jobs ul li span i {
  margin-right: 5px;
  color: #093;
}
/* ==========================================================================
   Browse Jobs Page Style
   ========================================================================== */
.internship {
  font-size: 12px;
  color: #fff;
  background: #093 !important;
  border-radius: 4px;
  margin-left: 10px;
  padding: 7px 18px;
}
.full-time {
  font-size: 12px;
  color: #fff;
  background: orange !important;
  border-radius: 4px;
  margin-left: 10px;
  padding: 7px 18px;
}
.part-time {
  font-size: 12px;
  color: #fff;
  background: #7f8c8d !important;
  border-radius: 4px;
  margin-left: 10px;
      padding: 7px 7px;
}
.job-browse .pagination {
  margin-top: 30px;
}
.job-browse .cat-list li {
  padding: 7px 0;
  border-bottom: 1px solid #eee;
}
.job-browse .cat-list li a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.job-list {
  border-bottom:1px solid lightgray;
  display: inline-block;
  margin-bottom: 5px;
  width:100%;
  padding-bottom:10px;
}
.job-list .thumb {
  float: right;
}
.job-list .thumb img {
  border-radius: 4px;
}
.job-list .job-list-content {
  display: block;
 /* margin-left: 125px;*/
  position: relative;
}
.job-list .job-list-content h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
.job-list .job-list-content p {
  margin-bottom: 20px;
}

.job-list .job-tag .meta-tag span {
  font-size: 14px;
  color: #093;
  margin-right: 10px;
}
.job-list .job-tag .meta-tag span a {
  color: #093;
}
.job-list .job-tag .meta-tag span a:hover {
  color: #093;
}
.job-list .job-tag .meta-tag span i {
  margin-right: 5px;
}
.job-list .job-tag .icon {
  float: left;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  line-height: 42px;
  border-radius: 50px;
  text-align: center;
  margin-right: 18px;
  background: #f1f1f1;
  color: #093;
  font-size: 16px;
}
/* ==========================================================================
   Job Alerts Pages Style
   ========================================================================== */
.right-sideabr h4 {
  font-size: 13px;
  color: #999;
}
.right-sideabr .item {
  padding: 15px 0px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 15px;
}
.right-sideabr .lest li {
  padding: 5px 0;
}
.right-sideabr .lest li a {
  font-size: 14px;
  font-weight: 700;
  color: #888;
}
.right-sideabr .lest li a:hover {
  color: #093;
}
.right-sideabr .lest li a.active {
  color: #093;
}
.right-sideabr .lest .notinumber {
  float: right;
  width: 24px;
  height: 24px;
  background: #093;
  text-align: center;
  border-radius: 50px;
  color: #fff;
}
.job-alerts-item {
  border: 1px solid #eee;
  padding: 30px;
}
.job-alerts-item .alerts-list {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
.job-alerts-item .alerts-title {
  font-size: 26px;
  margin-bottom: 30px;
}
.job-alerts-item .alerts-content {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.job-alerts-item .alerts-content h3 {
  font-size: 16px;
}
.job-alerts-item .alerts-content .location {
  color: #999;
}
.job-alerts-item .alerts-content p {
  color: #999;
  margin-top: 15px;
}
.job-alerts-item .job-list {
  border: none;
  padding: 15px 0;
}
/* ==========================================================================
   My Resume Page Style
   ========================================================================== */
.my-resume .item {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.my-resume .item h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.my-resume .item h3 i {
  margin-right: 5px;
  color: #999;
}
.my-resume .item h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.my-resume .item h5 {
  font-size: 13px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.my-resume .item .date {
  font-size: 15px;
  color: #888;
}
.my-resume .item p {
  color: #888;
}
.my-resume .item br {
  margin-bottom: 20px;
}
.my-resume .author-resume {
  display: inline-block;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}
.my-resume .author-resume .thumb {
  float: left;
}
.my-resume .author-resume .thumb img {
  border-radius: 4px;
}
.my-resume .author-resume .author-info {
  margin-left: 140px;
}
.my-resume .author-resume .author-info h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.my-resume .author-resume .author-info p {
  line-height: 30px;
}
.my-resume .author-resume .author-info .social-link {
  margin-top: 5px;
}
.my-resume .skill {
  margin-top: 30px;
}
.my-resume .skill h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.my-resume .skill h3 i {
  margin-right: 5px;
  color: #999;
}
/* Add Resume Page */
.post-header {
  padding: 10px 15px;
  background: #ddd;
  margin-bottom: 20px;
}
.post-header a {
  color: #093;
}
.add-post-btn {
  width: 100%;
  display: inline-block;
  padding: 5px 0px 25px 0px;
}
.add-post-btn .btn-added {
  font-size: 12px;
  border-radius: 50px;
  font-weight: 700;
  background: #ddd;
  padding: 5px 15px;
}
.add-post-btn .btn-delete {
  color: red;
  font-size: 12px;
  border-radius: 50px;
  font-weight: 700;
  background: #ddd;
  padding: 5px 15px;
}
/* ==========================================================================
   Manager Resumes Pages Style
   ========================================================================== */
.manager-resumes-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
.manager-resumes-item .item-body {
  padding: 20px 30px;
  color: #999;
}
.manager-resumes-item .item-body .tag-list {
  margin-top: 15px;
}
.manager-resumes-item .item-body .tag-list span {
  background-color: #f8f9fb;
  color: #818a91;
  padding: 2px 6px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
}
.manager-resumes-item .manager-content {
  padding: 20px 30px;
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
  width: 100%;
}
.manager-resumes-item .manager-content .resume-thumb {
  max-width: 64px;
  width: auto;
  margin-right: 30px;
  float: left;
}
.manager-resumes-item .manager-content .manager-info .manager-name {
  float: left;
}
.manager-resumes-item .manager-content .manager-info .manager-name h4 {
  font-size: 22px;
  line-height: 35px;
}
.manager-resumes-item .manager-content .manager-info .manager-name h5 {
  font-size: 17px;
  margin-top: 6px;
  color: #999;
}
.manager-resumes-item .manager-content .manager-info .manager-meta {
  float: right;
  text-align: right;
}
.manager-resumes-item .manager-content .manager-info .manager-meta span {
  display: block;
  color: #999;
  font-size: 16px;
  line-height: 35px;
}
.manager-resumes-item .update-date {
  padding: 5px 30px;
  display: inline-block;
  width: 100%;
}
.manager-resumes-item .update-date .status {
  float: left;
}
.manager-resumes-item .update-date .action-btn {
  float: right;
}
.manager-resumes-item .btn-xs {
  height: 24px;
  border-radius: 2px;
  line-height: 24px;
  padding: 0 12px;
  font-size: 11px;
}
.manager-resumes-item .btn {
  background: #eceeef;
}
.manager-resumes-item .btn-gray {
  color: #818a91;
}
.manager-resumes-item .btn-gray:hover {
  color: #093;
}
.manager-resumes-item .btn-danger {
  background-color: #ef4d42 !important;
}
/* ==========================================================================
   Notifications Page Style
   ========================================================================== */
.notification .pagination {
  margin-top: 30px;
}
.notification-item {
  display: inline-block;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.notification-item .thums {
  float: left;
}
.notification-item .thums img {
  border-radius: 4px;
  width: 80px;
}
.notification-item .text-left {
  margin-left: 98px;
  padding: 15px 0;
}
.notification-item .text-left p {
  font-size: 15px;
}
.notification-item .text-left .time {
  color: #999;
}
.notification-item .text-left .time i {
  margin-right: 5px;
}
/* ==========================================================================
   Applications Page Style
   ========================================================================== */
.applications-content {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.applications-content .thums {
  float: left;
  width: 60px;
  margin-right: 12px;
}
.applications-content h3 {
  font-size: 14px;
  margin-top: 10px;
}
.applications-content p {
  color: #999;
  margin-top: 15px;
}
/* ==========================================================================
   Manage Jobs Page Style
   ========================================================================== */
.candidates .can-img img {
  width: 48px;
  margin: 5px 15px;
}
/* ==========================================================================
   Policy Page Style
   ========================================================================== */
.policy {
  background: #F5F5F5;
}
.policy .post-box {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.policy .post-box .text-box {
  width: 100%;
  padding: 20px 23px;
}
.policy .post-box .text-box h2 {
  line-height: 26px;
  clear: both;
  margin: 0 0 18px 0;
}
.policy .post-box .text-box h4 {
  line-height: 26px;
  clear: both;
  color: #999;
  margin: 0 0 18px 0;
}
.policy .post-box .text-box p {
  color: #888;
  margin: 0 0 20px 0;
}
.policy .post-box ul {
  padding: 0 0 20px 20px;
  margin: 0;
}
.policy .post-box ul li {
  padding: 0;
  display: block;
  overflow: hidden;
  color: #888;
}
/* ==========================================================================
   Post Job Style
   ========================================================================== */
fieldset label {
  margin-bottom: 10px;
}
fieldset p {
  margin-bottom: 10px;
}
.divider {
  padding: 10px 0px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
.mainHeading {
  text-align: center;
  margin-bottom: 20px;
}
.mainHeading .section-title {
  font-size: 24px;
  letter-spacing: 0.1em;
  padding: 20px 0px;
  text-transform: uppercase;
  font-weight: 400;
}
#pricing-table {
  background: #F0F3FA;
  text-align: center;
}
#pricing-table .title {
  padding-top: 25px;
  padding-bottom: 20px;
}
#pricing-table .title h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0px;
}
#pricing-table .table {
  padding-bottom: 50px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing-table .table .pricing-header {
  position: relative;
  padding: 30px 0px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-bottom: 50px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing-table .table .pricing-header .price-value {
  font-size: 52px;
  color: #093;
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: 62px;
}
#pricing-table .table .pricing-header .price-value sup {
  font-size: 30px;
  position: relative;
  top: -24px;
  font-weight: 400;
}
#pricing-table .table .pricing-header .price-quality {
  font-size: 14px;
  color: #999;
}
#pricing-table .table .description {
  text-align: center;
  padding: 0px 50px;
  margin-bottom: 30px;
}
#pricing-table .table .description li {
  font-size: 14px;
  color: #999;
  padding-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
#pricing-table .table:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
#pricing-table .table:hover .pricing-header {
  background: #093;
}
#pricing-table .table:hover .pricing-header .price-value {
  color: #ffffff;
}
#pricing-table .table:hover .pricing-header .price-quality {
  color: #ffffff;
}
#pricing-table #active-tb {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
#pricing-table #active-tb .pricing-header {
  background: #093;
}
#pricing-table #active-tb .pricing-header .price-value {
  color: #ffffff;
}
#pricing-table #active-tb .pricing-header .price-quality {
  color: #ffffff;
}
/* ==========================================================================
   Account Archived ADS pages style
   ========================================================================== */
.collapse-box {
  margin-bottom: 15px;
}
.collapset-title {
  border-top: 1px solid #eee;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-transform: uppercase;
}
.no-border {
  border: none;
}
.user-panel-sidebar ul {
  padding: 0;
}
.user-panel-sidebar ul li a {
  background: #FFF;
  display: block;
  color: #444;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.user-panel-sidebar ul li a:hover,
.user-panel-sidebar ul li a:active,
.user-panel-sidebar ul li.active a {
  background-color: #093;
  color: #fff;
}
.user-panel-sidebar ul li a:hover .badge,
.user-panel-sidebar ul li a:focus .badge,
.user-panel-sidebar ul li.active a .badge {
  color: #fff;
}
.user-panel-sidebar ul li:last-child a {
  border-bottom: none;
}
.collapse-box .badge {
  float: right;
  background-color: transparent;
  color: #888;
  font-size: 11px;
  line-height: 20px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.table-search .control-label {
  line-height: 16px;
  padding-right: 0;
}
.searchpan input#filter {
  font-size: 12px;
  height: 30px;
}
.clear-filter {
  font-size: 11px;
}
.add-img-td img {
  width: 100%;
}
.table-action {
  display: block;
  margin-bottom: 15px;
}
table.add-manage-table > tbody > tr > td,
table.add-manage-table > tbody > tr > th {
  vertical-align: middle;
}
.table > thead > tr > th {
  border-bottom: none;
  color: #093;
}
.ads-details-td h4 {
  font-size: 15px;
  margin-bottom: 6px;
}
.ads-details-td strong {
  font-size: 13px;
  color: #444;
}
.ads-details-td sapn {
  color: #888;
}
.price-td {
  text-align: center;
  color: #888;
}
.add-img-selector {
  width: 2%;
}
.add-img-td {
  width: 20%;
}
.ads-details-td {
  width: 60%;
}
.price-td {
  width: 16%;
}
.action-td {
  width: 10%;
}
.photo-count {
  background: none repeat scroll 0 0 #ccc;
  border: 0 none;
  border-radius: 0;
  font-size: 12px;
  opacity: 0.9;
  padding: 0 3px;
  position: absolute;
  right: 4px;
  top: 5px;
}
/* ==========================================================================
   Account home page
   ========================================================================== */
.userimg {
  border: 1px solid #eee;
  display: inline-block;
  width: 75px;
  padding: 3px;
  margin-right: 5px;
}
.usearadmin h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.welcome-msg {
  margin-bottom: 30px;
}
.pt {
  margin-top: 15px;
}
.back-to-top {
  display: none;
  position: fixed;
      bottom: 38px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  background-color: #093;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* ==========================================================================
   Custom Component
   ========================================================================== */
.post-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.post-title a {
  color: #444;
}
.blog-post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.blog-post .post-thumb {
  position: relative;
}
.blog-post .post-thumb .hover-wrap {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
  background: rgba(5, 47, 67, 0.8);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.blog-post .post-thumb:hover .hover-wrap {
  opacity: 1;
}
.blog-post .post-thumb:hover .link {
  margin-top: 0px;
}
.blog-post .blog-author {
  float: left;
  height: 68px;
  margin-top: 32px;
  text-align: center;
  width: 68px;
}
.blog-post .blog-author img {
  border-radius: 50%;
}
.blog-post .post-content {
  width: 100%;
  padding: 30px 92px;
}
.blog-post .post-content .meta {
  font-size: 13px;
  margin-bottom: 17px;
  padding-bottom: 11px;
  border-bottom: 1px solid #eee;
}
.blog-post .post-content .meta .meta-part {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 25px;
}
.blog-post .post-content .meta .meta-part a {
  color: #999;
}
.blog-post .post-content .meta .meta-part a:hover {
  color: #093;
}
.blog-post .post-content .meta .meta-part i {
  margin-right: 5px;
}
.blog-post .post-content p {
  margin-bottom: 30px;
}
#pagination span,
#pagination a {
  display: inline-block;
  text-align: center;
  height: 34px;
  width: 34px;
  color: #666;
  line-height: 33px;
  border: 1px solid #eee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#pagination a:hover {
  border-color: #ddd;
}
#pagination .all-pages,
#pagination .next-page {
  width: auto;
  padding: 0 14px;
}
.widget-title {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 1px;
  padding: 10px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  word-spacing: 1px;
  position: relative;
}
.widget-title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
}
.right-sidebar {
  padding-left: 20px;
}
.search {
  width: 100%;
  margin-bottom: 0px !important;
  position: relative;
}
.search-btn {
  position: absolute;
  top: 76px;
  right: 25px;
  border: none;
  background: transparent;
  font-size: 18px;
}
.search-btn i {
  color: #999;
}
#sidebar {
  margin-bottom: 30px;
}
#sidebar .widget {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 22px;
  padding-bottom: 30px;
}
#sidebar .widget:last-child {
  border-bottom: none;
}
#sidebar .cat-list li {
  padding: 7px 0;
  border-bottom: 1px solid #eee;
}
#sidebar .cat-list li a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#sidebar .cat-list li .num-posts {
  font-size: 12px;
}
#sidebar .cat-list li:last-child {
  border: none;
}
#sidebar .posts-list li {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}
#sidebar .posts-list li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
#sidebar .posts-list .widget-thumb {
  float: left;
}
#sidebar .posts-list .widget-thumb a {
  display: block;
}
#sidebar .posts-list .widget-thumb a img {
  opacity: 1;
  max-width: 90px;
  margin: 5px 15px 0 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#sidebar .posts-list .widget-thumb:hover img {
  opacity: 0.7;
}
#sidebar .posts-list .widget-content a {
  font-weight: 400;
  color: #666;
}
#sidebar .posts-list .widget-content span {
  color: #999;
  font-size: 12px;
  display: block;
  margin: 3px 0;
}
#sidebar .posts-list .widget-content span i {
  padding-right: 5px;
}
#sidebar .tag a {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  padding: 7px 12px;
  background: #093;
  margin: 4px 2px;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#sidebar .tag a:hover {
  color: #fff;
}
.single-post p {
  margin-bottom: 20px!important;
}
blockquote {
  border-left: none;
  padding: 30px;
  background: #093;
}
blockquote .quote-text {
  font-size: 20px;
  font-weight: 400;
  color: #093;
  line-height: 34px;
}
blockquote p {
  margin-top: 10px;
  margin-bottom: 0px !important;
}
blockquote p a {
  color: #f44336;
}
blockquote p a:hover {
  color: #fff;
}
#comments h3 {
  font-size: 20px;
  font-weight: 400;
}
#comments .comments-list {
  padding: 0;
  margin: 0 0 35px 0;
}
#comments .comments-list .media {
  padding: 30px 0;
}
#comments .comments-list .media .thumb-left {
  float: left;
  width: 75px;
  height: 75px;
}
#comments .comments-list .media .thumb-left img {
  border-radius: 50px;
}
#comments .comments-list .media .info-body {
  margin-left: 90px;
  background: #f1f1f1;
  padding: 20px;
}
#comments .comments-list .media .info-body .name {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-right: 10px;
}
#comments .comments-list .media .info-body .comment-date {
  font-weight: 600;
  color: #999;
  margin-right: 5px;
  font-size: 12px;
}
#comments .comments-list li ul {
  padding-left: 85px;
}
.reply-link {
  color: #093;
  border-radius: 0px;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.respond-title {
  font-size: 20px;
  font-weight: 400;
  padding: 0px 0px 30px;
}
.share-social span {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #999;
  line-height: 31px;
  font-weight: 700;
}
.social-link a {
  color: #CACACA;
  text-align: center;
  width: 32px;
  border: 1px solid #CACACA;
  line-height: 32px;
  border-radius: 50px;
  display: inline-block;
  height: 32px;
}
.social-link .facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
}
.social-link .twitter:hover {
  color: #55acee;
  border-color: #55acee;
}
.social-link .google:hover {
  color: #dd4b39;
  border-color: #dd4b39;
}
.social-link .linkedin:hover {
  color: #007bb5;
  border-color: #007bb5;
}
.head-faq {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 24px;
}
.panel-default {
  border-radius: 0px;
  border: none;
}
.panel-default .panel-heading {
  padding: 0px 30px;
  outline: none;
  border-radius: 0px;
  background: #093 !important;
  border: 1px solid #093;
  width: 100%;
  box-shadow: none;
}
.panel-default .panel-heading .panel-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: inherit;
}
.panel-default .panel-heading a {
  font-size: 15px;
  font-weight: 400;
  padding: 15px 35px 15px 0px;
  display: inline-block;
  width: 100%;
  color: #fff;
  position: relative;
  text-decoration: none;
}
.panel-default .panel-heading a:after {
  font-family: "themify";
  content: "\e61a";
  position: absolute;
  right: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  top: 50%;
  line-height: 1;
  margin-top: -7px;
}
.panel-default .panel-heading .collapsed:after {
  content: "\e622";
}
.panel-default .panel-collapse .panel-body {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #fff;
}
/* ==========================================================================
   Contact Pages
   ========================================================================== */
.contact-form,
.information {
  margin-top: 40px;
}
.contact-datails {
  margin-bottom: 12px;
  min-height: 75px;
  position: relative;
}
.contact-datails .icon {
  
      position: relative;
}
.contact-datails .icon i {
      font-size: 18px;
    border: 1px solid #093;
    border-radius: 50%;
    padding: 22px;
    display: inline-block;
}
.contact-datails .info {
    margin-top: 10px;
}
.contact-datails .info h3 {
  font-size: 15px;
  display: block;
  text-transform: uppercase;
}
.contact-datails .info .datail {
  display: block;
  color: #888;
}
.form-control {
  background-color: #FFF;
  border: 1px solid #093;
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
  color: #444;
  display: block;
  height: 37px;
  padding: 15px 10px;
  width: 100%;
}
.form-control:focus {
  box-shadow: none;
  border-color: green;
}
/* ==========================================================================
   .form-control, .form-group .form-control{
	border: 0;
    background-image: linear-gradient(@preset, @preset,), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(@preset, @preset), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}
   ========================================================================== */
.input-icon input {
 /* padding-left: 40px;*/
  padding-left: unset;
}
.input-icon {
  position: relative;
}
.login-form .input-icon i,
.cd-form .input-icon i {
  color: #444;
  opacity: 0.6;
  padding-right: 10px;
  margin-top: -3px;
}
.input-icon i {
  font-size: 15px;
  left: 12px;
  line-height: 22px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}
.form-group i {
  position: absolute;
  top: 10px;
  color: #888;
  left: 12px;
  font-size: 18px;
}
.checkbox-item {
  display: inline-block;
  /*width: 100%;*/
}
.checkbox-item .checkbox {
  float: left;
  margin: 0;
}
.checkbox-item a {
  float: right;
}
/* ==========================================================================
  My Account
   ========================================================================== */
.my-account {
  background: #f5f5f5;
}
.my-account-form .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.my-account-form .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.my-account-form .cd-switcher li:first-child a {
  border-radius: .4px 0 0 0;
}
.my-account-form .cd-switcher li:last-child a {
  border-radius: 0 .4px 0 0;
}
.my-account-form .cd-switcher a {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    background: lightgrey;
    color: black;
}
.my-account-form .cd-switcher a.selected {
    background: orange;
    color: #505260;
}
@media only screen and (min-width: 600px) {
  .my-account-form {
    margin: 4px auto;
  }
  .my-account-form .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}
.my-account-form .cd-switcher2:after {
  content: "";
  display: table;
  clear: both;
}
.my-account-form .cd-switcher2 li {
    width: 100%;
    float: left;
    text-align: center;
}
.my-account-form .cd-switcher2 li:first-child a {
  border-radius: .4px 0 0 0;
}
.my-account-form .cd-switcher2 li:last-child a {
  border-radius: 0 .4px 0 0;
}
.my-account-form .cd-switcher2 a {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  background: orange;
  color: #fff;
}
.my-account-form .cd-switcher2 a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .my-account-form {
    margin: 4px auto;
  }
  .my-account-form .cd-switcher2 a {
    height: 70px;
    line-height: 70px;
  }
}
#cd-login,
#cd-signup,
#cd-reset-password {
  display: none;
}
#cd-login.is-selected,
#cd-signup.is-selected,
#cd-reset-password.is-selected {
  display: block;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #666;
}
.cd-form-message {
  text-align: center;
  margin-bottom: 20px;
  color: #888;
}
.cd-form-bottom-message {
  text-align: center;
      float: none;
}
/* ==========================================================================
   .form-control:focus,
	textarea:focus{
	box-shadow: none;
	border: 1px solid @preset;
	outline: none;
	}
   ========================================================================== */
/*.has-error .form-control:focus {
  box-shadow: none;
}*/
.addon {
  font-size: 20px;
  color: #888;
  border-radius: 0px;
  width: 32px!important;
}
.box {
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
}
.page-login-form {
  padding-top: 50px;
  background: #fff;
  /*border: 1px solid green;*/
  /*box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);*/
}
.page-login-form h3 {
  font-size: 18px;
  color: #444;
  line-height: 18px;
  padding: 15px 0 30px;
  text-transform: uppercase;
  text-align: center;
}
.page-login-form .login-form .form-control {
  background: #ffffff !important;
      text-align: center;
}
.page-login-form .log-btn {
    width: 50%;
    padding: 8px 22px;
    float: none;
    margin: 0px 0px 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px;
}
.terms{
	float:none;
}
.registration .form-group {
  margin: 0;
}
.registration .form-group .lable {
  margin-bottom: 10px;
}
.registration .form-group .form-control {
  background: #ffffff !important;
}
.registration .btn {
  padding: 7px 20px;
  border: none;
}
.form-ad .checkbox label {
  margin-bottom: 0px;
}
.control-label {
  font-size: 14px;
  color: #888;
  font-weight: 700;
  margin-bottom: 10px;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  background: transparent none repeat scroll 0px 0px;
  cursor: inherit;
  display: block;
}
.file-caption {
  height: 54px;
}
.mb15 {
  margin-bottom: 15px;
}
.form-static {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
}
.btn-group,
.btn-group-vertical {
  margin: 0;
}
.btn-select {
  padding: 12px;
  border-radius: 2px;
  color: #2d2d2d !important;
  background: #fff;
  text-transform: none;
}
.btn-group.open > .dropdown-toggle.btn,
.btn-group.open > .dropdown-toggle.btn.btn-default,
.btn-group-vertical.open > .dropdown-toggle.btn,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-default {
  background: #fff;
}
.btn-group.open .dropdown-toggle {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-group.open .dropdown-toggle:focus {
  outline: none;
}
.dropdown-menu > li > a {
  padding: 12px 20px;
  margin-bottom: 4px;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
  background-color: #093;
  color: #fff;
  border-radius: 0px;
}
.btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
  display: none;
}
.btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
  display: block;
  z-index: 9999;
}

.open .dropdown-menu {
  margin-top: 0;
}
.btn-group .dropdown-menu,
.btn-group-vertical .dropdown-menu {
  border-radius: 0px;
  text-transform: none;
}
.input-group-addon {
  border: none;
  background: transparent;
}
.tengah{
  width:100%;
  height:20px;
  background-color:#009933;
}

@media (min-width: 200px){
.col-kecil{
  position:relative;
  bottom:-12px;
  right:0px;
  color:white;
  padding: 3px;
  background: #093;
}  
}

@media (min-width:992px){
  .col-besar{
    position:relative;bottom:-12px;right:-170px;color:white;padding:3px 3px 3px 3px;background:#093;
  }
}
@media (min-width:200px){
  .col-seeking{
    width:70%;
    font-size:x-small;
  }

}
.navbar-brand>img {
    width: 251px;
    bottom: 13px;
    left: -13px;
    position: relative;
}
button#buka-rotten {
    position: absolute;
    right: 45px;
    bottom: -20px;
    height: 38px;
    background: orange;
    padding: 4px 56px;
    font-size: 22px;
}

.readmoree{
  border:2px solid white;
  background:#093;
}
.activ{
  height:79px;
  width:341px;
  border-bottom:2px solid lightgray;
}
.activgur{
  width:90px;
  height:90px;
  position:relative;
  border:5px solid #093;
  border-radius:100%;
  top:-42px;
 
  margin-bottom:-41px;
}

.comor {
    background: white!important;
    border: 2px solid #ff940f!important;
    border-radius: 20px;
    color: black;
    padding: 10px;
}
.hire{
  border-radius:20px;
  background:#093;
  border:2px solid whitesmoke;
}
/*
@media (min-width:200px){
  .job-kecik{
    width:55%;
    position:relative;
  }
  .job-kecik2{
    width:32%;
    height:32%;
    position:absolute;
    right:0px;
    top:84px;
  }
}

@media (min-width:767px){
  .job-kecik{
    width:82%;
    position:relative;
  }
  .job-kecik2{
    width:17%;
    height:17%;
    position:absolute;
    right:0px;
    top:40px;
  }
}
@media (min-width:992px){
  .job-kecik{
    width:82%;
    position:relative;
  }
  .job-kecik2{
    width:13%;
    height:17%;
    position:absolute;
    right:0px;
    top:40px;
  }
}
@media (min-width:1200px){
  .job-kecik{
    width:82%;
    position:relative;
  }
  .job-kecik2{
    width:11%;
    height:17%;
    position:absolute;
    right:0px;
    top:40px;
  }
}*/

.orangee{
  color:white;
  background:#ff940f;
  border-radius:2px;
  padding:2px;
}

.activgur2{
      width: 90px;
    height: 90px;
    position: relative;
    border: 5px solid #093;
    border-radius: 100%;
    top: -42px;
    left: 34%;
    margin-bottom: -41px;
}

.img-member3{
	border: 2px solid #093;
    border-radius: 100%;
    width: 39px;
}
.blacklist2 .glyphicon.glyphicon-chevron-right {
    margin-right: -8px;
}
table.blacklist2>tbody>tr>.td{
	width:55px;
	vertical-align:middle;
}
.blacklist2>tbody>tr>td{
	vertical-align:middle!important;
}
table.blacklist2 a {
    color: #000;
    font-size: 16px;
    padding: 8px 0px;
}
.ratingku>img{
	width:20px;
	height:20px;
}
table.blacklist2>tbody>tr>.td2{
	font-weight: 500;
    font-size: 16px;
    padding: 8px 0px;
}

#danmo{
	background:#ffffff14;
	width:200px;
	height:200px;
}
.header-detail {
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0,0,0,.075);
    background: #fff;
    margin-bottom: 30px;
}
.header-detail .header-content {
    padding: 30px;
}
.detail-company {
    padding: 30px;
    display: inline-block;
}
.job-detail .clearfix {
    display: inline-block;
    width: 100%;
}

.job-detail .medium-title {
    margin-bottom: 30px;
    font-weight: 900;
}
.medium-title {
    font-size: 24px;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative;
}
.job-post-wrapper {
    background: #fff;
    padding: 15px;
}
.header-detail .header-content {
    padding: 30px;
}
.header-detail .header-content h3 {
    font-size: 28px;
    margin-bottom: 5px;
}
.header-detail .header-content p {
    line-height: 30px;
}
.header-detail .header-content p {
    line-height: 30px;
}
.detail-company {
    padding: 30px;
    display: inline-block;
}
.detail-company .img-thum {
    width: 80px;
    float: right;
}
.detail-company .name {
    padding-right: 100px;
}
.detail-company h4 {
    font-size: 18px;
    margin-bottom: 5px;
}
.detail-company h5 {
    color: #888;
    font-size: 16px;
    line-height: 30px;
}
.job-detail .meta {
    border-top: 1px solid #ddd;
    padding: 20px 30px;
}
.job-detail .meta span {
    margin-right: 5px;
}
.header-detail > .clearfix > .meta > span > a {
    border:1px solid #093!important;
	color:#093;
}

.btn.btn-sm, .btn-group-sm .btn, .navbar .navbar-nav>li>a.btn.btn-sm, .btn-group-sm .navbar .navbar-nav>li>a.btn {
    padding: 5px 20px;
    font-size: 13px;
}
.small-title {
    font-size: 22px;
    margin-bottom: 30px;
}
.sidebar .detail-list li {
    border-bottom: 1px dotted #eee;
    padding: 7px 0;
}
ul li {
    list-style: none;
    margin: 0;
}
.sidebar .detail-list li a {
    text-decoration: none;
    margin-right: 10px;
    color: #888;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.sidebar .detail-list li .type-posts {
    color: #444;
    float: right;
}
.job-detail .sidebar .thumb {
    width: 100%;
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px;
}
.job-detail .thumb {
    float: left;
    margin: 0 20px 0 0;
}
.kiri{
    background: #d8d8d8;
}
.avacv2{
	border-radius:100%;
	border:5px solid #fff;	
	width:60%;
	float: none;
    margin: auto;
    margin-top: 38px;	
}
.avacv{
	
	border-radius:100%;
	border:5px solid #ffbc00;
	background:#fff;
	width:100%;
}
.namacv{
	font-size:326%;
    margin: 34px 0px 34px 0px;
    font-weight: 700;
	text-align:center;
	line-height:1;
}
.jur{
	background: #093;
    color: white;
    font-size: 26px;
    padding: 8px;
    text-align: center;
	font-style:italic;
}
.coho2{
	    font-family: cambria;
	background: #093;
    margin: 15px 0px;
    padding: 12px;
    float: left;
    width: 75%;
    color: white;
    text-align: right;
	margin-bottom: 4px;
    font-size: 24px;
}
.nopad{
	padding:0px 0px;
}
.lmbg{
	background: #093;
    color: white;
    text-align: right;    
    padding: 2px 7px;
}
.cont{
	margin:4px 0px;
}
.kiri .lmbg{
	width:20%;
	float:left;
}
.contt{
	 padding: unset!important;

}
.contt .col-md-6 .col-md-4{
	float:left;
	background: black;
    color: #ffbc00;
    border-radius: 100%;
    height: 29px;
    width: 29px;
    margin-top: 12px;
}

.contt .col-md-6 .col-md-8{
	    padding: 14px 0px 0px 6px;
	font-weight:600;
}
.footkiri div{
	float: left;
    padding: 29px 0px;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
	width: 50%;
    text-align: center;
}


}
.kanan{
	padding: 15px 0px 19px 19px;
}

.kanan div .glyphicon{
	color: orange;
    font-size: 53px;
}
.kanan div .a{
	float:left;
	width:100%;
}
.kanan div div span{
	float:left;	
}
.kanan div div .aa{
	float:left;
}
.kanan div .a .aa{
    font-family: cambria;
	    background: #093;
    color: #fff;
    font-size: 30px;
    padding: 15px;
    height: 51px;
    float: right;
    width: 74%;
    text-align: left;
}
.kanan div .b{
	float: left;
    margin: 20px 0px;
}
.kanan>div>.c{
	border-left: 4px solid orange;
    padding: 21px 33px;
    margin-left: 25px;
	float:left;
	width:100%;
	
	
}
.kanan>div>.c>div{
	position: absolute;
    border-radius: 100%;
    background: #ffbc00;
    width: 25px;
    height: 25px;
    left: 29px;
}
.kanan>div>.c>b>{
	font-size:18px;
}

.skill2{
	float:left;
	font-size: 17px;
    font-weight: 700;
    padding: 24px 0px;
}

.skill{
	margin: 14px;
	float:left;
}
.esum{
	background: #ffbc00;
    position: fixed;
    top: 121px;
    right: -150px;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 19px 0px 0px 19px;
}
.esum>a>.esumm{
	margin: 0px 9px;
	margin-left:19px;
}

@keyframes editresume {
    0%   {right: -150px;}
    100% {right: 0px;}
}
.esum:hover{
	-webkit-animation-name: editresume; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	right:0px;
}
.resum input,textarea{
	    color: black;
	    width: 100%;
    height: 100%;
    font-size: 14px;
    border: 1px solid #ffbc00;
    padding: 5px;
    border-radius: 5px;
    margin: 1px 0px;
    box-shadow: 3px 3px 3px 0px #0000002e;
}
.adhob{
	margin: 20px 0px;
    float: right;
    border-radius: 100%;
    border: 2px solid black;
    height: 34px;
    width: 34px;
    padding: 4px 9px;
}
#hob>div{
	float: left;
  
}
#hob>.col-md-6{
	
}
.resum{
	padding:15px;
}
.kanan>div>.b{
width:100%;

}
#hob>.col-md-6>.col-md-4{
padding: 2px 8px;
}
.footkiri>.plus{
	    font-family: cambria;
	width: 100%;
    text-align: left;
    font-size: 24px;
    font-style: unset;
    padding: 0px 0px 0px 17px;
}
.footkiri>.plus>.glyphicon-plus{
	border: 2px solid black;
    border-radius: 100%;
    width: 34px;
    height: 34px;
	float: right;
    font-size: 14px;
    padding: 8px;
}
.kanan div .glyphicon-plus{
	font-size: 18px;
    border-radius: 100%;
    border: 1px solid;
    padding: 2px;
    float: right;
}
.kanan div .glyphicon-minus{
	font-size: 22px;
    color: white;
}
.footkiri .glyphicon-minus{
	    float: left;
    border-radius: 100%;
    border: 1px solid;
    font-size: 18px;
    padding: 2px;
    margin: 4px 0px;
}
.footkiri>div>input{
	width:80%;
}
.skill>.orange>span>input{
	width:47px;
}

.skill>.skill2>span{
	float: right;
    color: #ffbc00;
    border-radius: 100%;
    border: 1px solid;
    width: 27px;
    height: 27px;
}
.skill>.skill2>input{
	width:unset;
}
.esum2{
	background: #ffbc00;
    position: fixed;
    top: 121px;
    right: -91px;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 19px 0px 0px 19px;
}
.esum2>.esumm>input{
	margin: 0px 9px;
	margin-left:19px;
	border:unset;
	background:unset;
}

@keyframes editresume2 {
    0%   {right: -91px;}
    100% {right: 0px;}
}
.esum2:hover{
	-webkit-animation-name: editresume2; 
    -webkit-animation-duration: 1s; 
	right:0px;
}
.overvieww h2{
	
	color: white;
    font-weight: 600;
    font-size: 34px;
	margin-bottom:0px;
}
.overvieww p{
	    float: unset;
	font-size:16px;
	    color: white;
}
.overview2{
	border-left:2px solid lightgray;
}
button.act {
    background: #093;
    color: white;
    border-radius: 6px;
    border: unset;
    padding: 3px 10px;
	margin-bottom:3px;
}
button.act2 {
    background: orange;
    color: white;
    border-radius: 6px;
    border: unset;
    padding: 3px 10px;
	float:right;
	margin-bottom:3px;
}
.multiplechoice tr{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
	
}
.multiplechoice{
	width: 90%;
    float: none;
    margin: auto;
}

.question-box p{
	margin-bottom: 17px;
}
.question-box h2{
	margin-bottom: 22px;
}
.isiquestion{
	padding: 24px;
	
	
}
.header-question i{
	margin-right: 20px;
	
}
.header-question{
	font-size: 18px;
    padding: 9px;
    background: whitesmoke;
}
.question-box{
	border: 2px solid lightgreen;
    border-radius: 7px;
}
.border{
	border-right:1px solid lightgray;
	width:30px;
}
.page-login-form .log-btn1 {
    padding: 12px 22px;
    margin: 0px 0px 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    background: #093;
    border-radius: 9px;
}
.page-login-form>form>p{
	padding:15px;
}
.pull-left>.meta-tag{
	
	color:#093;
}

.logocompanies{
	border:1px solid lightgray;
	    padding: 4px;
    text-align: center;
}
.isicompanies{
	border-bottom: 2px solid lightgray;
    padding-top: 19px;
    padding-bottom: 9px;
}
.logokanan{
	text-align:right;
}
.logokanan>img{
	text-align:right;
}
.meta-tag>span>i{
	color:#093;
	font-weight:800;
}
.filterform{
	background: whitesmoke;
    padding: 10px;
}

.filterform>form>div{
	padding:unset;
}

@media (max-width:682px){
.filterform>form>div>input{
    width: 25%!important;
}
}
@media (max-width:480px){
.filterform>form>div>input{
    width: 100%!important;
}
}

.filterform>form>div>input{
	margin: 15px 1%;
    padding: 8px 14px;
    border: 1px solid lightgray;
    width: 31%;
}
.filterform>p{
	padding: 15px;
    color: darkgray;
}
.filterform2>form>input[type=checkbox]{
	margin: 15px;
    padding: 8px 14px;
    border: 1px solid lightgray;
	
}
.filterform2{
	    background: lightgray;
    padding: 15px;
    margin-bottom: 38px;
}
.isicompanies>div>.meta-tag{
	font-size: 17px;
	margin-top:15px;
}
.kanan>div>.skl{
	height:unset;
}
.apply-kiri{
	box-shadow: 0px 0px 7px 0px #00000075;
    padding: unset;
    background: #ffbc00;
	display:block;
}
.apply-kiri>div{
	display:inline-block;
}
.apply-kanan{
	background: white;
    padding-top: 14px;
}
.joblist-kanan{
	box-shadow: 0px 0px 7px 0px #00000075;
    padding: 15px;
    
	margin-left:15px;
	float:left;
}
@media(min-width:200px){
	.list-hobby{
		width:30%;
		float:left;
	}
}
@media (min-width:992px){
	.joblist-kanan{
		width:39%;
	}
}
@media (max-width:991px){
	.joblist-kanan{
		width:95%;
		margin-top:15px;
	}
}
.joblist-kanan>.filterform>form>div>input {
    margin: 6px 1%;
    padding: 6px 12px;
    border: 1px solid lightgray;
    width: 30%;
}
video{
	border-radius: 6px;
    border: 2px solid lightgray;
    width: 100%;
    height: 100%;
}
.camcontent{
  display: block;
  position: relative;
  overflow: hidden;
  height: 480px;
  margin: auto;
  }
.cambuttons button {
  border-radius: 15px;
  font-size: 18px;
  }
.cambuttons button:hover {
  cursor: pointer;
  border-radius: 15px;
  background: #00dd00 ;    /* green */ 
  }
  #my_camera{
	  float:none;
	  margin:auto;
  }
  .simpanigbr{
	  text-align:center;
	  padding: 13px;
    border: 1px solid lightgrey;
    background: white;
  }
  .listfoto{
	width:100%;
    padding: 8px;
  }
  .list-foto{
	  width:33%;
	  float:left;
  }
  .list-foto>button{
	  margin: 0px 7px;
    width: 91%;
	margin-bottom:7px;
	border: unset;
    border-radius: 7px;
    background: lightgray;
    font-weight: 700;
  }
  #results{
	  display:inline-block!important;
	  width:100%;
  }
  .asd{
	  padding:unset!important;
  }
  .btncamera{
	  
    position: absolute;
    background: #0099336b;
    border: 3px solid white;
    font-size: x-large;
    top: 25%;
    border-radius: 11px;
  }
  .question{
		color: lightgreen!important;
		text-transform: unset!important;
		font-size: 24px!important;
		line-height: 24pt!important;
  }
 
 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
  /*font-weight:600;*/
  font-size:12px;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
  font-weight:700;
  font-size:15px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
  font-weight:700;
  font-size:15px;
}
:-moz-placeholder { /* Firefox 18- */
  color: lightgray;
  font-weight:700;
  font-size:15px;
}
.soccc{
	padding:unset!important;
}
.auu{
	    padding: 8px 0px 0px 4px!important;
}
.icona>a{
	color:orange;
}
.icona{
	text-align:center;
	padding:1px 0px;
	    border-radius: 50%;
    border: 1px solid #093;
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: white;
    background: white;
    
    top: 43px;
}
.choose-soc{
	position:absolute;
	display:none;
}
.choice-soc:hover>.choose-soc{
	display:block;
	z-index:10;
}
.unpad{
	padding: unset!important;
}

.newchoose-soc{
	position:absolute;
	display:none;
}
.newchoice-soc:hover>.newchoose-soc{
	display:block;
	z-index:10;
}
.ressoc>a{
	font-size: 20px!important;
    color: white!important;
    margin: 6px!important;
}
.ressoc{
	height: 30px;
    width: 30px;
    text-align: center;
    float: left;
    padding: 0px 0px;
}

/*
@keyframes animasiku {
	0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* The element to apply the animation to *	
.animasi {
    animation-name: animasiku;
    animation-duration: 1s;
}
*/
.service-item>ul>li{
  list-style:circle;
  text-align:left;
}
@keyframes animasiku {
    50%   {font-size:50px;}
    
}

/* The element to apply the animation to */
.service-item .icon-wrapper i:hover  {
    animation-name: animasiku;
    animation-duration: 1s;
}
@media (min-width:200px){
	.widgett{
		    padding: 33px!important;
			    padding-bottom: 0px!important;

	}
}
.empbtn{
	border:unset!important;
}
.job-list2 {
    border-bottom: 2px solid lightgray;
    display: inline-block;
    margin: 5px 0px;
    width: 100%;
    padding-bottom: 10px;
}
.job-list2 .thumb {
  float: right;
}
.job-list2 .thumb img {
    border-radius: 4px;
  
    padding: 5px;
    max-width: 109px;
}
.job-list2 .job-list-content {
	    padding-top: 24px;
  display: block;
 /* margin-left: 125px;*/
  position: relative;
}
.job-list2 .job-list-content h4 {
     font-size: 18px;
    margin-bottom: 6px;
    line-height: 17px;
}
.job-list2 .job-list-content p {
  margin-bottom: 20px;
}

.job-list2 .job-tag .meta-tag span {
  font-size: 14px;
  color: #093;
  margin-right: 10px;
}
.job-list2 .job-tag .meta-tag span a {
  color: #093;
}
.job-list2 .job-tag .meta-tag span a:hover {
  color: #093;
}
.job-list2 .job-tag .meta-tag span i {
  margin-right: 5px;
}
.job-list2 .job-tag .icon {
  float: left;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  line-height: 42px;
  border-radius: 50px;
  text-align: center;
  margin-right: 18px;
  background: #f1f1f1;
  color: #093;
  font-size: 16px;
}
.job-list2>.job-list-content>span {
        font-size: 19px;
    line-height: 2;
    font-weight: 700;
}
.carousel-ku>div>img{
	float: right;
	position:relative;
}
.carousel-ku>div>a{
	font-weight: 800;
    font-size: 22px;
	 line-height: 2;
	position:relative;
}
.carouselku{
	    position: absolute;
    bottom: -30px;
    left: 38%;
    background: #093;
    padding: 4px;
}
.carousel-ku>div>span{
	margin-left:0px!important;
	    font-size: 14px;
		 font-weight: 600;
		  line-height: 2;
		 position:relative;
}
.carousel-ku>div>span>i{
	    font-size: 18px;
    color: green;
	position:relative;

}
.carousel-ku>div>span>p{
	font-size: 14px;
    font-weight: 600;
	padding:10px 0px;
	position:relative;
}
.recentjobku{
	padding:20px;
	background:whitesmoke;
}
.carouselku>a>span{
	color:white;
	margin:0px 15px;
}
.job-list-content>a{
	    font-size: 18px;
   
}
#cari{
	margin-bottom: unset!important;
}
.garisclient{
  border-bottom: 2px solid #093;
  width: 17%;
  float: none;
  margin: auto;}
.clientku{
		padding-bottom:5px;
	}
#loginbutton{
    position: absolute;
    top: 1px; 
    right: -96px;
	}
#loginbutton>a{
  background:unset!important;
  border:unset!important;
  font-size:12px!important;
}
.find-job>div>div>div {    background: white;}
#rotten-employe-word{
	float:none;
	margin:auto;
}
.panahku {
    margin-left: 13px;
    font-size: 19px;
}

@keyframes tooltip {
    0%   {
      height:0px;
      width:0px;
      display:none;
      font-size:0px;
      opacity:0;
      color:#FFFFFF00;
      padding:0px 0px;
      }
     20%{color:white;}
	25% {
	  height:25px; 
	  width:fit-content;
	  display:block;
	  font-size:12px;
	  opacity:1;
	  padding:0px 10px;}

	75% {height:25px; 
	width:fit-content;
	display:block;
	font-size:12px;
	opacity:1;
	padding:0px 10px;}

    100% {height:0px; 
    width:0px;
    display:none;
    font-size:0px;
    opacity:0;
    padding:0px 0px;}
}