.job-title {
    font-size: 16px;
}
@media(max-width:250px){
	.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    height: 70px!important;
    width: 100%;
}
}
@media(max-width:350px){
	.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    height: 95px!important;
    width: 100%;
}
}
@media(max-width:699px){
.aktiftt{
	left: 50%!important;
}
	.blacklist2 .glyphicon.glyphicon-chevron-right {
    margin-right: -7px;
}
	#rotten-employe-list .glyphicon.glyphicon-chevron-right {
    font-size: 13px;
    margin-right: -6px;
}	
	#buka-rotten>span {
    font-size: 13px;
    margin-right: -8px;
}
	footer .footer-Content>.container>.row div{
		width:100%!important;
	}
	.ratingku>img {
    width: 14px;
    height: 14px;
}
	.kanan div .glyphicon {
    color: orange;
    font-size: 43px;
}
.kanan div .a .aa {
    
    
font-size: 24px;}
	table.blacklist2 a {
    color: #000;
    font-size: 14px;
    padding: 0px;
}
.panahku {
    margin-left: 13px;
    font-size: 14px;
}
	.overview2 {
    border-left: 0px solid lightgray;
}
	.contt>.col-md-6{
		float:left;
		width:50%;
	}
	.contt{
		display:inline-block;
	}
	.kanan{
		margin-top:15px;
	}
	.coho2{
		width:100%;
	}
	button.btn.btn-search-icon {
    width: 35%!important;
    float: right;
	font-size:medium;
}
	.section-intro {
    background: url(../img/bg/bg-intro3.jpg) right no-repeat;
    background-position: 90% 100%;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
}
button#buka-rotten {
    font-size: 14px;
    padding: 2px 13px;
    height: 27px;
    border: unset;
    bottom: -27px;
    right: 15px;
    position: absolute;
    margin: auto;
    float: right;
}
	.reset2{
		    width: 71%!important;
	}
	.cd-form-bottom-message {
    text-align: center;
    float: none;
    font-size: 12px;
}
.registerku {
    padding-bottom: 0px!important;
}
	.page-login-form .log-btn {
   /* width: 33%;*/
    padding: 5px 12px;
   /* float: right;*/
    margin: 0px 0px 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 12px;
}
#tombolkuregistrasi {
        margin-bottom: 18px;
    width: 44%;
    padding: 5px 12px;
    float: right;
    margin: -17px 0px 0px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 14px;
}

.navbar-brand>img {
    width: 153px!important;
  bottom: -4px!important;
    left: -10px!important;
    position: relative;
}
	.btn-search-icon {
    background: #093;
    padding: unset!important;
}
.job-list-content>a {
    font-size: 16px;
}

	.owl-theme .owl-controls .owl-buttons div i {
    color: #093;
    font-size: 21px;
    line-height: 40px;
    font-weight: 900;
}
#testimonial .owl-theme .owl-controls .owl-buttons div {
    border-radius: 50%;
    border: unset!important;
    background: transparent!important;
    font-size: 30px;
    margin: 20px 10px 0;
    padding: 0 12px;
    box-shadow: unset;
}
.owl-theme .owl-controls .owl-buttons div i {
    color: #093;
    font-size: 21px;
    line-height: 40px;
    font-weight: 900;
}
#testimonial .img-member {
    height: 60px;
    border-radius: 100%;
    border: 1px solid #093;
    margin-top: 22px;
    overflow: hidden;
    width: 60px;
}
a.tabb:hover,a.tabb:focus>div{
  border-bottom:2px solid #093;  
  background:white;
}
a.tabb:active,a.tabb:hover>div{
  border-bottom:2px solid #093;  
  background:white;
}
.job-list2 .job-tag .meta-tag span {
    font-size: 14px;
    color: #093;
    float: left;
    margin-right: 10px;
}
.clients{   
 padding-bottom: 0px;
padding-top: 77px;
    height: 11em!important;
}
.carousel-ku>div>a {

    font-weight: 800;
    font-size: 19px;
    line-height: 2;
    position: relative;
}
.widgett {
    padding: 25px 33px 0px 33px!important;
}
.textwidget {
    padding-bottom: 5px!important;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #093;
}
.section {
    padding: 20px 0px!important;
    height: 32%;
}
.section-title {
    padding-bottom: 2px;
    font-size: 20px;
}

.full-time {
    background: #fff;
    padding: 1px 8px!important;
    font-size: 11px;
     float: left;
}
.job-list-content>a{
	float:left;
}
.job-list2 .thumb img {
    border-radius: 2px;
    padding: 0px;
    max-width: 80px;
}
.job-list2>.job-list-content>span {
    float: left;
    width: 80%;
    font-size: 16px;
    line-height: 1;
}
.internship {
    font-size: 12px;
    color: #fff;
    background: #093 !important;
    border-radius: 4px;
    margin-left: 10px;
    padding: 1px 8px!important;
	float:left;
}
.job-list-content>h4>a{
	float:left;
}
footer .footer-Content {
    border-top: 2px solid #093;
    background: url(../img/bg/footer2.png) bottom right no-repeat;
	    background-position: 0% 103%;
    padding: 60px 0;
    color: #093;
}
.part-time {
    font-size: 12px;
    color: #fff;
    background: #7f8c8d !important;
    border-radius: 4px;
    margin-left: 10px;
    padding: 1px 8px!important;
	float:left;
}
.job-list .thumb {
    float: right;
    margin-bottom: 20px;
    width: 30%;
    margin-top: 20px;
}

.tuyul{
    padding: 0px 23px;
}
.carousel-ku>.item>img{    ;width: 40%;}
.carousel-ku>div>span {
    margin-left: 0px!important;
    font-size: 12px;
	float:left;
    font-weight: 600;
    line-height: 2;
    position: relative;
}
.recentjobku {
    padding: 20px;
    background: whitesmoke;
    margin-bottom: 22px;
}
.paginghide{display:none;}
.search-container {
padding: 4px 0!important;}

a.tabb>div{
background:orange;
    height: 100%;
	padding: 12px 0px;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    height: 160px!important;
    width: 100%;
}
	.jobresum{display:block;}
	.garisclient{width: 18%;}
	.hiden-overview{
	display:none!important;
	}
	.hiden-overview2{
	display:block!important;
	}
	#ledem{display:none;}
	.btn{
		    background-color: #093;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px;
	}
	footer .footer-Content {
    padding: 5px 0px!important;
    color: #093;
}
.garisbawah.text-right {
    color: white;
    padding-right: 8px;
}
	.job-list2 .job-list-content {
		width:67%;	
    padding-top: 3px;
    display: block;
    /* margin-left: 125px; */
    position: relative;
}
	footer .footer-Content {
   
        padding: 39px 0px 3px 0px!important;
    color: #093;
}
	.seeking{
		    margin-bottom: 10px;
		    color: white;
    text-align: center;
    font-size: 8px;
	}
	.btn-seek{
		
		    color: white;
    text-align: center;
    font-size: 8px;
	}
	.testi{
		    padding: 0px;
	}
	#testimonial p {
    margin: 0px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.9px;
    color: gray;
    font-style: italic;
    position: relative;
    line-height: 1.5;
}
#testimonial .client-info .client-name {
    font-size: 14px;
    line-height: 5px;
    text-transform: uppercase;
}
#testimonial .client-info {
    color: black;
    line-height: 20px;
    margin: 20px auto;
    margin-bottom: 0px;
}
#recenjob>div{
    border-bottom: 2px solid #093;
    background: white;
}
#testimonial p .quote-left {
  font-size: 18px;
  margin-right: 15px;
}
.tabb>div{width:50%;float:left;}
.tabb>div>h2 {
    font-size: 14px;
    font-weight: 100;
}
.touch-slider .owl-controls .owl-buttons {
    position: relative;
    top: -102px;
    left: 0;
}
.thumb{    text-align: center;}
.tabb>div>.klikk{display:none;}
find-job{
	display:none;
}
#testimonial p .quote-right {
  font-size: 18px;
  margin-left: 15px;
}
	table.blacklist2>tbody>tr>.td2 {
        font-weight: unset;
    font-size: 14px;
    padding: 10px;
}
.job-title {
    font-size: 11px;
}
.adderess{font-size: 11px;}
	#greatemploye2{
		display:none;
	}
	.greatemploye{
		display:block;
		padding:0px!important;
	}
	.page-login-form {
    padding: 15px;
    background: #fff;
    box-shadow: unset;
	
}
.blacklistt{
	    float: left;
    padding: 23px;
    background: #eee;
}
.orangee {
    /* color: white; */
    background: #ff940f;
    border-radius: 2px;
    padding: 5px;
}
}
/*
@media(min-width:268px){
	#recenjob>div{
		height:68px;
	}
}
@media(max-width:352px){
	#recenjob>div{
		height:68px;
	}
}
@media(min-width:353px){
	#recenjob>div{
		height:100%!important;
	}
}*/
@media(min-width:700px){
	#tombolkuregistrasi {
         width: 20%;
    padding: 8px 22px;
    float: right;
    margin: 0px 0px 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px;
	
}

	.jobresum{display:none;}
	.hiden-overview2{display:none;}
	.hiden-overview{display:block;}
	table.blacklist2>tbody>tr>.td2 {
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
	
}
	.greatemploye{
		display:none!important;
	}
	#greatemploye2{
		display:block;
	}
}
