.nav>li>a>img {
    max-height: 52px;
    margin: -16px 10px;
    color: transparent;
}
.nav>li>a:hover>img,.nav>li>a:active>img,.nav>li>a:focus>img {
     -webkit-filter: drop-shadow(5px 5px 5px #093);
  filter: drop-shadow(5px 5px 5px #093);
}
.active>img{
     -webkit-filter: drop-shadow(5px 5px 5px #093);
  filter: drop-shadow(5px 5px 5px #093);
  visibility: visible!important;
}
.active>span{
  -webkit-animation-name: tooltip; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: tooltip;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  visibility: visible!important;
  opacity: 1;
  bottom: 30%;
  left: 150%;
  transform: translate(-50%,-50%);
  margin-left: -76px;
  z-index: 999999;
}
.navbar-default .navbar-nav > li:hover > .empbtn>img,
.navbar-default .navbar-nav > li > .empbtn.active>img {
   -webkit-filter: drop-shadow(5px 5px 5px #093);
  filter: drop-shadow(5px 5px 5px #093);
  /*background-color: #093;*/
}
.navbar-default .navbar-nav > li > .empbtn {
    background:white!important;
}
.tooltip{
    padding:15px;
}

.dropdown li a:hover.tooltips span , .sup-dropdown li a:hover.tooltips span {
  left:100%;
}
.dropdown li a>img{
    max-height: 42px;
    margin-left: 15px;
}
.dropdown li a:hover,.dropdown li a:active,.dropdown li a:focus>img{
   -webkit-filter: drop-shadow(5px 5px 5px #093);
   filter: drop-shadow(5px 5px 5px #093);
}
.dropdown li a, .sup-dropdown li a{
    width:100px;
}
.dropdown li{
    width:100px;
}
.navbar-default .navbar-nav .dropdown {
    width:100px;
}

.slicknav_nav li a>img{
    max-height:30px
}
.header{
  border-bottom: 3px solid #093;  
}
/* HUKES */
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.hukers-menu {
    padding-bottom: 20px;
}

.hukers-menu > button {
    margin-top: -5px;
    width: 100%
}

.hukers-menu .list-group > a{
    color: #093;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.hukers-menu .list-group .activee{
    font-weight: bold;
    border-left: 4px solid orange;
}

.hukers-menu .list-group > a:hover{
    color: #fff;
    background: #093;
}

.card-content {
    text-align: center;
}

#hukes-img-sm {
    border: 8px solid #093;
    width: 110px; 
    height: 110px;
    margin: 20px 0px 10px 0px;
}

#hukes-img-md {
    border: 8px solid #093;
    width: 120px; 
    height: 120px;
    margin: -60px 0px 20px 0px;
}

#hukes-img-hd {
    border:3px solid #FFC107;
    width: 150px;
    height: 150px;
    margin: 10px 0px 10px 0px;
}

.head-review {
  margin: 30px 0px 0px 0px;
  color: #fff;
}


.btn-hukes-con {
    width: 100%
}

.hukes-header {
    width: 100%
}

.hukes-footer {
    border-top: 2px solid #093;
    margin: 0px 40px 20px 40px
}

.hukes-footer > p {
    margin: 5px 10px 20px 10px;
    font-style: italic;
}

.hukes > button {
    margin: 6px
}

.hukes .btn-warning {
    background: white;
    border: 1px solid orange;
    color: black;
}

.hukes .btn-warning:hover {
    background: white;
    color: black;
}

.hukes-rounded-border {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #333;
  margin-left: 30%;
}

/* EMPLOYES */
.employer-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.employer-tabs, .nav-pills {
    text-align:center;
}

.employer-tabs, .nav-pills > a {
    border-radius: 0px;
    padding:20px;
}
 
.login input[type=checkbox] {
  background-color: black !important;
  color: #ffffff !important;
  outline: 1px solid green; margin-right:9px
}

.login input[type=checkbox]:checked {
  color: #fff;
  background-color: #5cb85c;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      bottom: 4px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.90;
}

/*CLIENTS*/
.center {
    margin: 0 auto;
}

.text-clients1 {
    margin: 15px 15px 15px 30px;
    border: 1px solid orange;
    border-radius: 20px;
    color: #094;
}

.text-clients2 {
    margin: 15px 15px 15px 30px;
    border: 1px solid #094;
    border-radius: 30px;
    color: orange;
}

.img-client {
    max-width: 200px;
    height: 180px;
}

.img-rating{
  height:20px;
  float: left;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px;
    padding-left: 50px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.cd-1{
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 35px;
  padding: 5px; 
}

.cd-2{
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 25px;
  padding: 5px;
}

.cd-3{
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 20px;
  padding: 20px;
}

.cd-4{
  margin-top: 25px;
  margin-left: 20px;
}
.cd-5{
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 25px;
}

.cd-6{
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 20px;
  padding: 20px;
}

.social-clients li a{
  display: inline-block;
  position: relative;
  margin: 0 10px 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 15px;
  background-color: orange;
  color: white;
}

.social-clients{
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}

.social-clients li{
  margin: 0 10px 10px 0;
  font-size: 15px;
  padding-left: 50px;
}

.social-clients li i{
  margin: 0;
  line-height: 40px;
  text-align: center;
}
/*CV employee*/
.p-l-0 {
  padding-left: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.my-cv .cd-switcher {
  margin: 0px;
  padding: 0px;
  border: none !important;
}
.my-cv .cd-switcher li {
  width: 15%;
  float: left;
  text-align: center;
}
.my-cv .cd-switcher li a {
  border-radius: .4px 0 0 0;
}
@media only screen and (min-width: 600px) {
  .my-cv .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}
.my-cv .cd-switcher a {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  line-height: 30px;
  background: white;
  color: lightgrey;
}
.my-cv .nav-tabs>li>a {
  background-color: lightgrey;
  color: black;
  border: none;
}
.my-cv .nav-tabs>li>a:hover {
  color: green;
}
.my-cv .nav-tabs>li.active>a {
  background-color: orange;
  color: white;
  border: none;
}
.bg-green {
  background-color: green !important;
  color: white !important;
}
.my-cv .tab-content {
  margin-top: 20px;
}
#hukes-img-lg {
  border: 8px solid #093;
  width: 240px;
  height: 240px;
  margin: 30px 0px 10px 0px;
}
/*left panel*/
.my-cv .left-panel .cv-item-header {
  display: block;
  width: 50%;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 15px; 
}
.my-cv .left-panel .cv-image {
  margin-bottom: 20px;
  display: block;
}
.my-cv .left-panel .cv-position {
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.my-cv .left-panel .cv-contact {
  margin-bottom: 20px;
  display: block;
}
.my-cv .left-panel .cv-contact li {
  margin-bottom: 20px;
  font-size: 15px;
}
.my-cv .left-panel .cv-contact li:last-child {
  margin-bottom: 10px;
}
.my-cv .left-panel .cv-contact li .contact-item {
  font-size: 20px; 
  padding: 10px 20px;
  margin: 0 10px 0 0;
  background: green;
  color: white;
}
.my-cv .left-panel .cv-hobby {
  margin-bottom: 20px;
  display: block;
}
.my-cv .left-panel .cv-hobby li {
  margin-bottom: 20px;
  font-size: 15px;
}
.my-cv .left-panel .cv-hobby li:last-child {
  margin-bottom: 10px;
}
.my-cv .left-panel .cv-hobby li .hobby-item {
  font-size: 20px; 
  padding: 10px 10px;
  margin: 0 10px 0 0;
  background: green;
  color: white;
}
.my-cv .left-panel .cv-social {
  margin-bottom: 20px;
  display: block;
}
.my-cv .left-panel .cv-social ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
.my-cv .left-panel .cv-social ul.social-network li {
  margin: 0 10px 10px 0;
  font-size: 15px;
}
.my-cv .left-panel .cv-social .social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 15px;
  background-color: orange;
  color: white;
}
.my-cv .left-panel .cv-social .social-circle li i {
  margin: 0;
  line-height: 40px;
  text-align: center;
}
/*right panel*/
.my-cv .right-panel .cv-profile .panel {
  border: none !important;
  border-radius: none !important;
  box-shadow: none !important;
  font-size: 15px;
}
.my-cv .right-panel .cv-profile .panel .panel-heading {
  padding: 0 0 0 10px !important;
}
.my-cv .right-panel .cv-profile .panel .panel-heading .header-icon {
  display: inline;
}
.my-cv .right-panel .cv-profile .panel .panel-heading .header-icon i {
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  width: 12%;
  color: orange;
}
.my-cv .right-panel .cv-profile .panel .panel-heading .header-text {
  display: inline-block;
  width: 88%;
}
.my-cv .right-panel .cv-profile .panel .panel-heading .header-text span {
  float: left;
  background-color: green;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding-left: 10px;
  color: white;
  text-transform: uppercase;
  width: 100%;
}
