/*a:hover,a:focus{
  color: #093;
}
a:active, a:hover{
    outline: 0;
    color: #093;
}*/

a.tabb:hover,a.tabb:focus .klikk{
  border-bottom:2px solid #093;  
}
a.tabb:active,a.tabb:hover .klikk{
  border-bottom:2px solid #093;  
}
.klikk {
    border-bottom: 2px solid lightgray;
    width: 23%;
    float: none;
    margin: auto;
}

.btn-common {
  background: #093;
}
.btn-common:hover, .btn-common:focus{
  background: orange;
}
.btn-border{
  color: #fff;
}
/* Back to Top */
.back-to-top i {
  background-color: #093;
  border:3px solid white;
}
#color-style-switcher .bottom a i{
  color: #093;
}
/* Navbar */
.slicknav_btn{
  border-color: #093;
  border-radius: 2px;
}
.slicknav_menu .slicknav_btn .slicknav_icon-bar{
  background: #093;
}
.slicknav_menu .slicknav_btn:hover{
  background: #093;
}
.slicknav_nav .active a{
  background: #fff;
}
.slicknav_nav a:hover, .slicknav_nav .active{
  color: #093;
}
.slicknav_nav .dropdown li a.active{
  background: #fff;
}
.tbtn{
  background: #093;
}
/* Navbar */
.navbar-default.affix .float-right li a{
  color: #093!important;
  border-color: #093;
}
.navbar-default.affix .float-right li .empbtn{
  color: #5d5d5d!important;
  border-color: #093;
}
.navbar-default.affix .float-right li .empbtn:hover{
  background: #093;
}
.navbar-default.affix .float-right li a:hover{
  background: #093;
}
.navbar-default .float-right li a:hover{
  border-color: #093;
}
.main-navigation .float-right li a{
  border-color: #fff;
  color: #fff!important;
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a.active{
  background: #FFFFFF00;
  color:#093;
}
.navbar-default .navbar-nav .dropdown{
  border-color: #fff;
}
.dropdown > li:hover > a>img{
  background-color: #ffffff00;
}
.dropdown > li:hover > a>img{
  background-color:#ffffff00;
  color: #fff;
}
.dropdown li a.active>img, .sup-dropdown li a.active>img{
  background-color: #ffffff00;
  color: #fff;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active{
  background: #fff;
}
.btn-search-icon{
  background: #093;
}
.popular-jobs a:hover{
  background:  #fff;
  border-color:  #fff; 
}
.full-time{
  background: #fff;
}
.job-list .job-tag .icon{
  color: #ff940f;
}
.find-job .showing a span{
  color: #093;
}
.job-list .job-tag .meta-tag span a:hover{
  color: #093;
}
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background: #fff!important;
}
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background-color: #fff!important;
  border-color: #093!important;
  color:#093!important;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
  background-color: #fff!important;
  border-color: #ff940f!important;
}
.category{
  background: #fff;
}
.f-category .icon i{
  color: #fff;
}
.featured-jobs .item-foot .view-iocn a{
  background: #093;
}
.owl-theme .owl-controls .owl-buttons div{
  background: #093!important;
}
.counting .icon i{
  color: #fff;
}
.counting .desc h2::after{
  background: #fff;
}
.infobox{
  background: #fff;
}
.bottom-social-icons a {
    background: orange;
    color: white;
    font-size: 25px;
    padding: 8px;
}
.subscribe-box input[type="submit"]{
margin-top:10px;
  background: orange;
}
footer .menu li a:hover{
  color: #fff;
}
#copyright p a:hover{
  color: #fff;
}

/* ==========================================================================
 Pages Color Start
 ========================================================================== */
 .find-job .nav-tabs > li.active > a, .find-job .nav-tabs > li.active > a:focus, .find-job .nav-tabs > li.active > a:hover{
  background: #fff;
 }
 .find-job .nav-tabs > li > a{
  color: #fff;
  border-color: #fff!important;
 }
 .find-job .nav > li > a:focus, .find-job .nav > li > a:hover{
  background-color: #fff;
 }
 .breadcrumb{
  color: #093;
 }
 .medium-title::before{
  border-bottom: 2px solid #fff;
 }
 .service-item .icon-wrapper i{
  color: #093;
 }
 .job-detail .text-left .meta span i{
  color: #fff;
 }
 .job-detail .text-left .price i{
  color: #fff;
 }
 .job-detail .clearfix ul li i{
  color: #fff;
 }
.job-detail .sidebar .text-box h4 a{
  color: #093;
}
.job-detail .sidebar .text-box a.text i{
  color: #093;
}
.job-detail .sidebar .text-box strong.price i{
  color: #093;
}
.job-detail .sidebar .sidebar-jobs ul li span i{
  color: #093;
}
.right-sideabr .lest li a.active{
  color: #093;
}
.right-sideabr .lest li a:hover{
  color: #093; 
}
.right-sideabr .lest .notinumber{
  background: #093;
}
.panel-default .panel-heading{
  background: #093!important;
  border: #fff;
}
#pricing-table .table .pricing-header .price-value{
  color: #fff;
}
#pricing-table #active-tb .pricing-header{
  background: #fff;
}
#pricing-table .table:hover .pricing-header{
  background: #fff;
}
/*.form-control:focus, textarea:focus{
  border-color: #fff;
}*/
.all-categories ul li a:hover{
  color: #fff;
}
.post-header a{
  color: #fff;
}
.close i{
  background: #093;
}
.blog-post .post-content .meta .meta-part a:hover,
.blog-post .post-content .meta .meta-part a:focus{
  color: #fff;
}
.widget-title{
  border-bottom-color: #093;
}
.widget-title::before{
  border-bottom-color: #093;
}
#sidebar .cat-list li a:hover{
  color: #fff;
}
#sidebar .tag a{
  background: #093;
}
blockquote{
  background: #e6e6e6;
}
.reply-link{
  color: #fff;
}
.tp-bullets.preview3 .bullet:hover, .tp-bullets.preview3 .bullet.selected{
  border-color: #fff!important;
}
.tparrows.preview3:hover:after{
  background: #fff!important;
}
.tparrows.preview3:hover:after{color:#fff}
.img-member2{
  border:3px solid #099;
  border-radius:100%;
  width:42px;
  margin:-1px 8px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #3498db;
    border-color: #3498db;
    /* color: #FFFFFF; */
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.btn.btn-theme,
.navbar .navbar-nav > li > a.btn.btn-theme {
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-theme, .btn.btn-theme:hover, .btn.btn-theme:focus, .btn.btn-theme:active, .btn.btn-theme.active, .btn.btn-theme:active:focus, .btn.btn-theme:active:hover, .btn.btn-theme.active:focus, .btn.btn-theme.active:hover,
.open > .btn.btn-theme.dropdown-toggle,
.open > .btn.btn-theme.dropdown-toggle:focus,
.open > .btn.btn-theme.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-theme,
.navbar .navbar-nav > li > a.btn.btn-theme:hover,
.navbar .navbar-nav > li > a.btn.btn-theme:focus,
.navbar .navbar-nav > li > a.btn.btn-theme:active,
.navbar .navbar-nav > li > a.btn.btn-theme.active,
.navbar .navbar-nav > li > a.btn.btn-theme:active:focus,
.navbar .navbar-nav > li > a.btn.btn-theme:active:hover,
.navbar .navbar-nav > li > a.btn.btn-theme.active:focus,
.navbar .navbar-nav > li > a.btn.btn-theme.active:hover,
.open >
.navbar .navbar-nav > li > a.btn.btn-theme.dropdown-toggle,
.open >
.navbar .navbar-nav > li > a.btn.btn-theme.dropdown-toggle:focus,
.open >
.navbar .navbar-nav > li > a.btn.btn-theme.dropdown-toggle:hover {
    background-color: #093;
    color: #FFFFFF;
}

.btn.btn-theme:focus, .btn.btn-theme:active, .btn.btn-theme:hover,
.navbar .navbar-nav > li > a.btn.btn-theme:focus,
.navbar .navbar-nav > li > a.btn.btn-theme:active,
.navbar .navbar-nav > li > a.btn.btn-theme:hover {
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.btn.btn-theme.disabled, .btn.btn-theme.disabled:hover, .btn.btn-theme.disabled:focus, .btn.btn-theme.disabled.focus, .btn.btn-theme.disabled:active, .btn.btn-theme.disabled.active, .btn.btn-theme:disabled, .btn.btn-theme:disabled:hover, .btn.btn-theme:disabled:focus, .btn.btn-theme:disabled.focus, .btn.btn-theme:disabled:active, .btn.btn-theme:disabled.active, .btn.btn-theme[disabled], .btn.btn-theme[disabled]:hover, .btn.btn-theme[disabled]:focus, .btn.btn-theme[disabled].focus, .btn.btn-theme[disabled]:active, .btn.btn-theme[disabled].active,
fieldset[disabled] .btn.btn-theme,
fieldset[disabled] .btn.btn-theme:hover,
fieldset[disabled] .btn.btn-theme:focus,
fieldset[disabled] .btn.btn-theme.focus,
fieldset[disabled] .btn.btn-theme:active,
fieldset[disabled] .btn.btn-theme.active,
.navbar .navbar-nav > li > a.btn.btn-theme.disabled,
.navbar .navbar-nav > li > a.btn.btn-theme.disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-theme.disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-theme.disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-theme.disabled:active,
.navbar .navbar-nav > li > a.btn.btn-theme.disabled.active,
.navbar .navbar-nav > li > a.btn.btn-theme:disabled,
.navbar .navbar-nav > li > a.btn.btn-theme:disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-theme:disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-theme:disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-theme:disabled:active,
.navbar .navbar-nav > li > a.btn.btn-theme:disabled.active,
.navbar .navbar-nav > li > a.btn.btn-theme[disabled],
.navbar .navbar-nav > li > a.btn.btn-theme[disabled]:hover,
.navbar .navbar-nav > li > a.btn.btn-theme[disabled]:focus,
.navbar .navbar-nav > li > a.btn.btn-theme[disabled].focus,
.navbar .navbar-nav > li > a.btn.btn-theme[disabled]:active,
.navbar .navbar-nav > li > a.btn.btn-theme[disabled].active,
fieldset[disabled]
.navbar .navbar-nav > li > a.btn.btn-theme,
fieldset[disabled]
.navbar .navbar-nav > li > a.btn.btn-theme:hover,
fieldset[disabled]
.navbar .navbar-nav > li > a.btn.btn-theme:focus,
fieldset[disabled]
.navbar .navbar-nav > li > a.btn.btn-theme.focus,
fieldset[disabled]
.navbar .navbar-nav > li > a.btn.btn-theme:active,
fieldset[disabled]
.navbar .navbar-nav > li > a.btn.btn-theme.active {
    box-shadow: none !important;
}

.btn.btn-theme.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-theme.btn-simple {
    background-color: transparent;
    color: #093;
    box-shadow: none;
}

.btn.btn-theme.btn-simple:hover, .btn.btn-theme.btn-simple:focus, .btn.btn-theme.btn-simple:active,
.navbar .navbar-nav > li > a.btn.btn-theme.btn-simple:hover,
.navbar .navbar-nav > li > a.btn.btn-theme.btn-simple:focus,
.navbar .navbar-nav > li > a.btn.btn-theme.btn-simple:active {
    background-color: transparent;
    color: #093;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
  background-color: #093;
  border-color: #093; }
.checkbox-theme input[type="checkbox"]:checked + label::after {
  color: #fff; }